<div class="gallery__item">
    <div class="row gallery__item-inner">
        <a class="gallery__item-lg col-md-6 col-sm-6" href="../images/gallery/old_walls.jpg">
            <img class="gallery__item-image" src="../images/gallery/old_walls.jpg" />
        </a>
        <div class="gallery__item-content col-md-6 col-sm-6">
            <div class="gallery__item-title">@@name</div>
            <div class="gallery__item-description">@@description</div>
            <div class="resources-list">
                @@loop('./includes/components/gallery/resource-item.html', "./gallery.json")

                <div class="resource-item">
                    <div class="resource-item__image-wrap">
                        <img src="https://loremflickr.com/240/320" class="resource-item__image"/>
                    </div>
                    <div class="resource-item__content">
                        <div class="resource-item__name">Recource name</div>
                        <div class="resource-item__type">Recource type</div>
                    </div>
                </div>
                <div class="resource-item">
                    <div class="resource-item__image-wrap">
                        <img src="https://loremflickr.com/540/720" class="resource-item__image"/>
                    </div>
                    <div class="resource-item__content">
                        <div class="resource-item__name">Recource name</div>
                        <div class="resource-item__type">Recource type</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>