<div class="resource-item">
    <div class="resource-item__image-wrap">
        <img src="https://loremflickr.com/240/320" class="resource-item__image"/>
    </div>
    <div class="resource-item__content">
        <div class="resource-item__name">Recource name 1</div>
        <div class="resource-item__type">Recource type</div>
    </div>
</div>