<div class="tab-pane fade" id="advisors-tab-pane" role="tabpanel" aria-labelledby="advisors-tab">
    <div class="row">
        @@loop("./includes/components/advisor-card.html", "./advisors.json")
    </div>
</div>