<div class="tab-pane fade" id="mission-tab-pane" role="tabpanel" aria-labelledby="mission-tab">
    <div class="row">
        <div class="col-sm-12">
            <ul class="about-list">
                <li class="about-list__item about-section__text">
                    <span class="about-list__icon">@@include('./images/about/creation-solution.svg')</span>
                    <div class="d-flex flex-column">
                        <span class="about-list__item-title">Creation</span>
                        <span>Provide practical content creation solutions to our customers.</span>
                    </div>
                </li>
                <li class="about-list__item about-section__text">
                    <span class="about-list__icon">@@include('./images/about/delivery-platform.svg')</span>
                    <div class="d-flex flex-column">
                        <span class="about-list__item-title">Delivery</span>
                        <span>Provide innovative content delivery platforms for their visitors.</span>
                    </div>
                </li>
                <li class="about-list__item about-section__text">
                    <span class="about-list__icon">@@include('./images/about/protect-env.svg')</span>
                    <div class="d-flex flex-column">
                        <span class="about-list__item-title">Support</span>
                        <span>Provide a secure environment for customer content in the digital environment.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>