<div class="tab-pane fade" id="office-tab-pane" role="tabpanel" aria-labelledby="office-tab">
    <div class="row">
        <div class="col-md-5">
            <p class="about-section__text">Top Floor, 24 University Ave <br> Wolfville, NS, B4P 2R6, Canada</p>
            <p class="about-section__text">+1 902 915.4766</p>
        </div>
        <div class="col-md-5">
            <p class="about-section__text">120 Sonnenschein Way, <br>Saskatoon, SK S7M 0W2, Canada</p>
            <p class="about-section__text">+1 902 915.4766</p>
        </div>
    </div>
</div>