<div class="tab-pane fade scrollable-tab-pane" id="hystory-tab-pane" role="tabpanel" aria-labelledby="hystory-tab">
    <div class="row">
        <div class="col-12">
            <ul class="about-list">
                <li class="about-list__item about-section__text">
                    <span class="list-marker">2017</span>
                    We came into existence as an idea.
                </li>
                <li class="about-list__item about-section__text">
                    <span class="list-marker">2018</span>
                    We learnt from our environment.
                </li>
                <li class="about-list__item about-section__text">
                    <span class="list-marker">2018</span>
                    We focused on our vision and mission.
                </li>
                <li class="about-list__item about-section__text">
                    <span class="list-marker">2019</span>
                    We choose to identify as a full-service solution.
                </li>
                <li class="about-list__item about-section__text">
                    <span class="list-marker">2019</span>
                    We create immersive story telling experiences, using augmented reality and virtual reality, from
                    content creation, to content delivery, to content support.
                </li>
                <li class="about-list__item about-section__text">
                    <span class="list-marker">2020</span>
                    We are the only company in the world who deliver Audio, Video, Image, Text, 3d Models, Multimedia
                    Animations and Games – all with Multi-Language support.
                </li>
            </ul>
        </div>
    </div>
</div>