<div class="tab-pane fade show active" id="vision-tab-pane" role="tabpanel" aria-labelledby="vision-tab">
    <div class="row">
        <div class="col-12">
            <h2 class="about-section__title wow fadeInUp">To bring the world to people</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <p class="about-section__text wow fadeInUp">With over 90% of the world’s population unable to travel, we built a platform to create immersive augmented and virtual content for museums and art galleries and other attractions.</p>
            <p class="about-section__text wow fadeInUp">We now create innovative and engaging exhibitions for your visitors. They can experience immersive story telling at the gallery, get a trailer before they visit or visit without traveling.</p>
        </div>
    </div>
</div>