.about-section{
  padding: 48px 0;
  @media (min-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    .container{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .row{
        flex-grow: 1;
      }
    }
  }
  .tab-content{
    padding: 0;
    min-height: 300px;
    justify-content: center;
    @media (min-width: 992px) {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      padding: 0;
    }
  }
  #team-tab-pane{
    flex-grow: 1;
    position: relative;
    padding: 0;
    min-height: 300px;
  }
  .tab-pane{
    padding: 32px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    &.active{
      display: flex;
    }
    .row{
      flex-grow: 0;
    }
  }
}
.about-nav-wrap{
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    height: 100vh;
    width: 50vw;
    background-color: $about-bg;
    z-index: -1;
    transform: translate(0 , -50%);
    @media (max-width: 991px) {
      display: none;
    }
  }
}
.about-nav{
  display: flex;
  flex-direction: column;
  border: 0;
  @media (max-width: 991px) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 16px;
    padding: 24px 8px;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;
    position: relative;
  }
  .nav-link{
    padding: 16px 16px 16px 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 2px;
    color: rgba(65, 66, 82, 0.88);
    transition: 0.3s ease-in-out;
    border: 0;
    @media (max-width: 991px) {
      font-size: 14px;
      padding: 0 8px;
    }
    &.active{
      font-weight: bold;
      background-color: transparent;
    }
    &.active,&:hover,&:active{
      border: 0;
      outline: none;
      box-shadow: none;
    }
  }
}
.about-nav__title{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 48px;
  color: rgba(65, 66, 82, 0.88);
  @media (max-width: 991px) {
    margin-bottom: 24px;
  }
}

.about-section__title{
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $dark-bg;
  @media (max-width: 991px) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.about-section__text{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 217.5%;
  letter-spacing: 2px;
  color: $dark-bg;
  @media (max-width: 991px) {
    font-size: 14px;
  }
}

.about-section__image{
  position: absolute;
  bottom: 0;
  right: 0;
  &.hidden{
    display: none;
  }
}
.about-list{
  padding: 0;
  margin: 0;
  .about-list__item{
    list-style-type: none;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &:last-of-type{
      margin-bottom: 0;
    }
    @media (max-width:480px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  .about-list__item-title{
    font-size: 20px;
    font-weight: 700;
    color: $text-color;
    @media (max-width:480px) {
      margin-bottom: 8px;
    }
  }
  .about-list__icon{
    min-width: 54px;
    max-width: 54px;
    margin-right: 24px;
    @media (max-width:480px) {
      margin-right: 0;
      margin-bottom: 16px;
    }
    svg{
      width: 100%;
      height: auto;
    }
  }
}
#vision-tab-image{
  display: none;
  @media (max-width: 1440px) {
    max-width: 25vw;
  }
  @media (max-width: 991px) {
    max-width: 30vw;
  }
}
.vision-content{
  #vision-tab-image{
    display: block;
    @media (max-width: 770px) {
      display: none;
    }
  }
}

#office-tab-image{
  display: none;
  @media (max-width: 1440px) {
    max-width: 25vw;
  }
  @media (min-width: 1400px) and (max-width: 1750px) {
    right: -150px;
  }
  @media (max-width: 991px) {
    max-width: 30vw;
  }
}
.office-content{
  #office-tab-image{
    display: block;
    @media (max-width: 770px) {
      display: none;
    }
  }
}

#mission-tab-image{
  display: none;
  @media (max-width: 1440px) {
    max-width: 25vw;
  }
  @media (max-width: 991px) {
    max-width: 30vw;
  }
}
.mission-content{
  #mission-tab-image{
    display: block;
    @media (max-width: 770px) {
      display: none;
    }
  }
}

.scrollable-tab-pane{
  max-height: calc( 100vh - 80px );
  overflow: auto;
  padding: 48px 16px;
  @media (max-width: 991px) {
    padding: 16px;
    overflow: visible;
    max-height: none;
  }
}

.list-marker{
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: $about-bg;
  margin-right: 16px;
}