.advantage-section{
  padding: 116px 0;
  @media (max-width: 1100px) {
    padding: 80px 0;
  }
  @media (max-width: 824px) {
    padding: 48px 0;
  }
  .advantage-section__main-title{
    margin-bottom: 80px;
    @media (max-width: 1100px) {
      margin-bottom: 80px;
    }
    @media (max-width: 800px) {
      margin-bottom: 64px;
    }
    @media (max-width: 425px) {
      margin-bottom: 48px;
    }
  }
}
.advantage-item-wrap{
  height: 100%;
}
.advantage-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $text-color;
  min-height: 292px;
  height: 100%;
  box-shadow: 2px 24px 17px -13px #adadad;
  @media (max-width: 1199px) {
    height: auto;
    min-height: auto;
    padding: 24px 24px;
  }
  .advantage-item__title{
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.04em;
    color: $white;
    text-align: center;
    margin-bottom: 16px;
    @media (max-width: 1100px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .advantage-item__text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 39px;
    color: $white;
    text-align: center;
    @media (max-width: 1100px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}