.autor{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6px;
  &:hover{
    color: $white;
    text-transform: none;
    *{
      text-transform: none;
      border-bottom: 0;
      border: none;
    }
  }
  .author__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $white;
  }
  .author__avatar{
    border-radius: 100%;
    overflow: hidden;
    width: 54px;
    height: 54px;
    border: 1px solid $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-right: 16px;
  }
  .author__avatar-img{
    width: auto;
    height: 100%;
  }
  .author__location-name{
    margin-bottom: 2px;
  }
  .author__name,.author__location-name{
    letter-spacing: 1.1px;
    text-decoration: none;
    border-bottom: 0;
    border: none;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}