.benefit-item{
  margin-bottom: 80px;
  @media (max-width: 768px) {
    margin-bottom: 64px;
  }
  @media (max-width: 425px) {
    margin-bottom: 48px;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
  .benefit-item__text{
    margin-bottom: 24px;
    line-height: 71px;
    font-size: 64px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    @media (max-width: 768px) {
      font-size: 48px;
      line-height: 50px;
    }
    @media (max-width: 425px) {
      font-size: 32px;
      line-height: 34px;
    }
    &.collapsed{
      font-size: 48px;
      margin-bottom: -32px;
      text-decoration: underline;
      @media (max-width: 768px) {
        font-size: 32px;
      }
      @media (max-width: 425px) {
        font-size: 24px;
      }
    }
  }
  .benefit-item__desc{
    font-family: $font-family-base;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: $text-color;
    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.benefit-image{
  background-color: $grey;
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 570px;
  width: 570px;
  position: relative;
  @media (max-width: 1300px) {
    height: 480px;
    width: 480px;
  }
  @media (max-width: 1100px) {
    height: 420px;
    width: 420px;
  }
  @media (max-width: 991px) {
    margin-bottom: 64px;
    margin-top: 64px;
  }
  @media (max-width: 510px) {
    height: 224px;
    width: 224px;
  }

  .benefit-image__hidden-area{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .benefit-image__sculpture{
    position: relative;
    bottom: -100%;
    max-height: 600px;
    @media (max-width: 1100px) {
      max-height: 500px;
    }
    @media (max-width: 510px) {
      max-height: 250px;
    }
  }
}