.blog-list{
  padding: 0 121px;
  margin-bottom: 80px;
  @media (max-width: 1440px){
    padding: 0;
  }
}

.blog-article-card{
  margin-bottom: 48px;
  min-height: calc( 100% - 48px );
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  text-transform: none;
  position: relative;
  color: $violet-dark;
  transition: .3s ease-in-out;
  overflow: hidden;
  &:hover{
    text-decoration: none;
    color: $violet-dark;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.45);
    .btn-outline_dark{
      background-color: $violet-blue2;
      color: $white;
      border: 1px solid $violet-blue2;
    }
  }
  .blog-article-card__image-wrap{
    width: 100%;
    height: 267px;
    position: relative;
    overflow: hidden;
  }
  .blog-article-card__image{
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150%;
    min-width: 100%;
    min-height: 101%;
    @media (max-width:425px) {
      max-width: 150%;
    }

  }
  .blog-article-card__content{
    padding: 16px 24px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;

  }
  .blog-article-card__header{
    font-size: 16px;
    color: rgba(51, 44, 81, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    flex-wrap: nowrap;

  }
  .blog-article-card__date{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-basis: 40%;
    max-width: 40%;
    text-align: left;

  }
  .blog-article-card__author{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-basis: 60%;
    max-width: 60%;
    text-align: right;
  }
  .blog-article-card__body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
    justify-content: center;
  }
  .blog-article-card__title{
    font-size: 36px;
    margin-bottom: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 44px;
  }
  .blog-article-card__title_long{
    white-space: normal;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.5px;
    word-spacing: -1px;
    max-height: 84px;
  }
  .blog-article-card__description{
    font-size: 16px;
    margin-bottom: 19px;
    overflow: hidden;
    line-height: 20px;
    max-height: 60px;
  }
}
.blog-article{
  padding: 0 121px;
  margin-bottom: 80px;
  color: $violet-dark;
  @media (max-width: 1440px){
    padding: 0;
  }
  .main-title{
    margin-bottom: 24px;
    text-align: center;
  }
  .subtitle{
    margin-bottom: 48px;
    text-align: center;
    line-height: 150%;
  }
  .blog-article__text{
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 48px;
    @media (max-width:768px) {
      font-size: 16px;
    }
  }
  .blog-article__image-wrap{
    width: 100%;
    height: 525px;
    position: relative;
    overflow: hidden;
    margin-bottom: 48px;
    text-align: center;
    @media (max-width:705px) {
      height: auto;
    }
  }
  .blog-article__main-image{
    min-width: 80%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.blog-article__footer{
  padding: 48px 0;
  border-top: 2px solid #F7F5FE;
  color: rgba(51, 44, 81, 0.7);
  .blog-article__date{
    margin-bottom: 32px;
  }
  .blog-article__counts,#st-1,#st-2{
    .blog-article__counts-item,.st-btn{
      height: 24px;
      padding: 0;
      img{
        top: 0;
        width: 24px;
        height: 24px;
      }
    }
  }

  .blog-article__counts-text{
    margin-left: 12px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 44, 81, 0.7);
  }
}
.author-section{
  .author-section__body{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: center;
    @media (max-width:948px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .author-section__name{
    font-size: 18px;
    line-height: 22px;
    color: $violet-dark;
    margin-bottom: 4px;
  }
  .author-section__role{
    font-size: 16px;
    line-height: 20px;
    color: rgba(51, 44, 81, 0.7);
  }
  .author-section__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
  }
  .social-links{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
  }
  .social-links__item{
    margin-right: 16px;
  }
  .author-section__info{
    display: flex;
    flex-direction: column;
  }
  .author-section__avatar{
    margin-right: 16px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 100%;
    @media (max-width:948px) {
      height: auto;
      max-height: 64px;
      margin-bottom: 16px;
    }
  }
  .author-section__avatar-image{
    width: 100%;
    height: auto;
  }
  .author-section__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $violet-dark;
    margin-bottom: 24px;
  }
}
.tags-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.tag-item{
  background: linear-gradient(0deg, #F7F5FE, #F7F5FE);
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $violet-dark;
  padding: 12px 8px;
  min-width: 80px;
  margin-right: 16px;
  margin-bottom: 16px;

}

.related-articles{
  border-top: 2px solid #F7F5FE;
  padding-top: 48px;
  margin-bottom: 80px;
}