.btn{
  outline: none;
  border-color: transparent;
  min-width: 130px;
  border-radius: 0;
  min-height: 32px;
  font-size: 18px;
  font-weight: 200;
  transition: 0.3s ease-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover{
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
    border-color: transparent;
  }
  &:focus{
    background-color: $blue-darken;
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    border-color: transparent;
  }
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus{
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: $blue-darken;
    outline: none;
    border-color: transparent;
    transform: scale(0.975);
  }
}
.btn.btn-primary{
  background-color: transparent;
  border: 1px solid $text-color;
  color: $text-color;
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus{
    background-color: $text-color;
    color: $white;
  }
  &:hover,&:focus{
    background-color: $text-color;
    color: $white;
  }
}
.btn.btn-primary.btn-primary_white{
  border-color: $white;
  color: $white;
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus{
    background-color: $white;
    color: $text-color;
  }
  &:hover,&:focus{
    background-color: $white;
    color: $text-color;
  }
}
.btn-white{
  background-color: $white;
  color: $violet;
  border: 1px solid $white;
  &:hover{
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
  }
  &:focus{
    background-color: transparent;
    border: 1px solid $white;
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    color: $white;
  }
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus{
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    outline: none;
    border: 1px solid $white;
    color: $white;
  }
}
.btn-gradient{
  background: linear-gradient(270deg, #7065DD, #4832c2, #7065DD, #845EC2);
  background-size: 400%;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #7065DD, #4832c2, #7065DD, #845EC2 );
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
  }
  &:hover{
    animation: gradient-animation 8s linear infinite;
    &:before {
      filter: blur(20px);
      opacity: 1;
      animation: gradient-animation 8s linear infinite;

    }
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.btn-outline{
  background: none;
  border: 1px solid $white;
  align-self: flex-start;
  min-width: 185px;
  color: $white;
  &:hover,&:focus{
    background-color: $white;
    color: $violet;
    border: 1px solid $white;
  }
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus{
    background-color: $white;
    color: $violet;
    border: 1px solid $white;
  }
}
.btn-outline_dark{
  border-color: $violet-blue2;
  color: $violet-blue2;
  font-size: 18px;
  min-height: 32px;
  min-width: 154px;
  padding: 0 24px;
  align-self: center;
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus,&:focus,&:hover{
    background-color: $violet-blue2;
    color: $white;
    border: 1px solid $violet-blue2;
  }

}

.spinner {
  position: relative;
  width: 15px;
  height: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #ADADAD;
  border-right-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  margin: 0 auto;
  animation: spin 2s infinite;
  display: none;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-50deg);
  }
  80% {
    -webkit-transform: rotate(780deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
  }
}

.follow-buttons-fixed, #st-1.follow-buttons-fixed{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 50%;
  .st-btn{
    display: inline-flex!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    max-width: 32px;
    >img{
      top: 0;
    }
  }
}

.button-store{
  max-width: 150px;
  img{
    max-width: 150px;
    width: 100%;
  }
}

.buttons-group{
  display: flex;
  @media (max-width: 425px) {
    flex-direction: column;
    .btn{
      margin-bottom: 16px;
    }
  }
}

.sidebar-nav{
  border: none;
  .nav-item{
    .nav-link{
      color: $violet-dark;
      border: none;
      padding-left: 0;
      &.active{
        color: $violet-blue2;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.btn.nav-link{
  text-align: left;
  justify-content: flex-start;
  &:hover,&:active,&:focus,&:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus{
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
  }
}