.email-list{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 425px) {
    padding-left: 0;
  }
  .email-list__item{
    display: block;
    margin-bottom: 24px;
  }
  .email-list__item-email{
    display: block;
    text-decoration: underline;
    color: $violet-dark;
  }
}
.email-item{
  text-decoration: underline;
  color: #E8E0F9;
  &:hover{
    color: $white;
  }
}
.content-list{
  padding: 0;
  padding-inline-start: 16px;
}
.content-list_dark{
  color: $violet-dark;
}
.content-list_unmarkered{
  .content-list__item{
    display: block;
    margin-bottom: 16px;
  }
}
.content-container{
  min-height: calc( 100vh - 100px );
}
.content-body{
  background-color: #ffffff;
}

.demo-wrap{
  min-height: calc( 100vh - 220px );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-tabs.tutorial-nav-tabs{
  border: none;
  .tutorial-card__nav-link{
    padding: 0;
    margin: 0;
    border: none;
  }
}

.card.tutorial-card{
  max-width: 380px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  height: 514px;
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 0;
  &:before{
    content: '';
    display: block;
    background: linear-gradient(0deg, #332C51, #332C51);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
  .card-img-overlay{
    padding: 88px 24px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-title{
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    max-height: 132px;
    overflow: hidden;
  }
  .card-text{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 400;
    max-height: 140px;
    overflow: hidden;
  }
  .btn-play{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active:focus,&:focus{
      background-color: transparent;
      box-shadow: none;
    }
  }
  .card-img{
    min-height: 100%;
    max-height: 120%;
    max-width: none;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, 0);
  }
  .tutorial-card__category{
    position: absolute;
    top: 24px;
    right: 16px;
    color: $violet-blue;
    z-index: 1;
    background-color: $white;
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 12px;
  }
}

.custom-accordion{
  .card-body{
    max-height: 500px;
    overflow: auto;
    padding: 0;
  }
  .card-title-accordion{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    width: 100%;
    background-color: $light;
    &:focus, &:active,&:not(:disabled):not(.disabled):active{
      background-color: $light;
    }
    @media (max-width: 425px) {
      text-align: center;
      width: 100%;
    }
  }
}
.get-started-image{
  margin-bottom: 48px;
  max-width: 100%;
}

.file-list{
  text-align: left;
  margin-bottom: 16px;
}

.get-started-slider{
  .get-started-slider__slide{
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .get-started-slider__image{
    max-width: 100%;
    max-height: 60vh;
    height: auto;
  }
}