.contact-us-section{
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 124px;
  padding: 24px 0;
  .contact-us-section__text{
    font-family: $font-family-base;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 39px;
    color: $text-color;
  }
  .contact-us-section__btn{
    width: 100%;
    max-width: 348px;
  }
}