.experience-section{
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  .container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.experience-list{
  padding: 0;
  .experience-list__item{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    letter-spacing: 2px;
    color: $text-color;
    list-style-type: none;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 200%;
      margin-bottom: 16px;
    }
    @media (max-width:480px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 48px;
    }
  }
  .list-marker{
    min-width: 40px;
  }
}
.experience__svg{
  svg{
    width: 100%;
    height: auto;
  }
  @media (max-width: 991px) {
    max-width: 250px;
    margin-bottom: 32px;

  }
  @media (max-width: 425px) {
    max-width: 150px;
  }
}
.experience-title{
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 211.8%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $text-color;
  text-align: center;
  margin-bottom: 16px;
}
.experience-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
  margin-bottom: 48px;
  .nav-link{
    padding: 16px;
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 29px;
    letter-spacing: 2px;
    color: rgba(65, 66, 82, 0.4);
    transition: 0.3s ease-in-out;
    border: 0;
    @media (max-width: 991px) {
      font-size: 14px;
      padding: 0 8px;
    }
    @media (max-width: 425px) {
      font-size: 18px;
      padding: 0 8px;
    }
    &.active{
      font-weight: 200;
      color: rgba(65, 66, 82, 1);
      background-color: transparent;
    }
    &.active,&:hover,&:active{
      border: 0;
      outline: none;
      box-shadow: none;
    }
    &.experience-nav__divider{
      padding: 16px 0;
      @media (max-width: 991px) {
        font-size: 14px;
        padding: 0 8px;
      }
    }
  }
}

.experience-tab-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}