.faqs{
  margin-bottom: 80px;
  .faqs__item{
    background-color: transparent;
    padding: 32px 0;
    margin: 0;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: $border-light-color;
    .card-header{
      background-color: transparent;
      border: none;
      padding: 0;
      .btn-link{
        padding: 0;
        &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active:focus, &:focus,&:hover {
          box-shadow: none;
          background-color: transparent;
          outline: none;
          text-decoration: none;
        }
      }
    }
    .faqs__item-question{
      font-weight: 500;
      font-size: 24px;
      font-family: $font-family-base;
      color: $text-color2;
      margin-bottom: 3px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
    }
    .faqs__item-answer{
      font-weight: normal;
      font-size: 18px;
      font-family: $font-family-base;
      display: block;
      color: $text-color2;
      padding: 0;
      min-height: auto;
      text-align: left;
      line-height: 24px;
    }
  }
}