.flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  &:hover{
    .flip-card-inner {
      transform: rotateY(180deg);
      z-index: -2;
    }
    .flip-card-front {
      z-index: -1;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    .flip-card-back{
      z-index: 2;
    }
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: $dark-bg;
}

.flip-card-front {
  position: absolute;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px solid #ffffff;
  }
}

.flip-card-back {
  position: relative;
  transform: rotateY(180deg);
  z-index: -1;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

