.footer {
  background: $dark-bg;
  padding: 80px 0;
  position: relative;
  z-index: 0;
  @media (max-width: 768px){
    padding: 20px 0 80px;
  }
  &:before{
    content: '';
  }

  .footer__navbar {
    padding: 0;
    color: $white;

    .footer__navbar-brand {
      margin-bottom: 32px;
    }

    .footer__adres {
      display: block;
      font-family: $font-family-base;
      font-size: 18px;
      line-height: 150%;
      color: #FFFFFF;
      margin-bottom: 16px;
    }

    .footer__emall,.footer__number {
      display: block;
      font-family: $font-family-base;
      font-size: 18px;
      line-height: 150%;
      color: #FFFFFF;
      margin-bottom: 16px;
    }

    .footer__social-group {
      display: flex;
      justify-content: flex-start;
      :first-child {
        padding-left: 0;
      }
    }

    .footer__navbar-nav {
      flex-direction: column;
      align-items: flex-start;

      .nav-item {
        margin-bottom: 16px;

        .footer__nav-link {
          line-height: 22px;
          color: $white;
          background-color: transparent;
          border: 0;
          &:hover,&:focus{
            color: $violet-blue2;
          }
        }
      }
    }

    .form__title {
      font-family: $font-family-base;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      color: #FFFFFF;
      margin-bottom: 24px;
    }

    .form__foter-imput {
      margin-bottom: 24px;
    }
  }
  .brand-text{
    opacity: 1;
    color: $white;
  }
}