.form-primary {
  text-align: center;
}

.input-primary {
  height: 56px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 0;
  font-family: $font-family-base;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  color: #FFFFFF;
  margin: 0 auto 24px;
  padding: 1rem 0.75rem;
  &:focus{
    background-color: transparent;
    border: 1px solid $white;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(237, 231, 246, 0.15);
    color: $white;
  }
  &::-webkit-input-placeholder {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  &::-moz-placeholder {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  &:-moz-placeholder {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  &:-ms-input-placeholder {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}
.input-primary_dark{
  border-color: $text-color;
  color: $text-color;
  &:focus{
    border: 1px solid $text-color;
    color: $text-color;
  }
  &::-webkit-input-placeholder {
    color: $text-color;
  }
  &::-moz-placeholder {
    color: $text-color;
  }
  &:-moz-placeholder {
    color: $text-color;
  }
  &:-ms-input-placeholder {
    color: $text-color;
  }
}

.textarea-primary {
  padding: 18px 10px 9px;
}

.contact-section {
  background: linear-gradient(270deg, #7065DD 0%, #845EC2 100%), linear-gradient(0deg, #651FFF, #651FFF), #C4C4C4;
  padding: 80px 0;
}

.form-messages{
  margin: 10px 0;
  &.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  &.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .form-control{
    box-shadow: none;
    outline: none;
    &::-webkit-input-placeholder {
      font-family: $font-family-base;
      font-size: 16px;
      line-height: 19px;
      color: #ADA1C7;
    }
    &::-moz-placeholder {
      font-family: $font-family-base;
      font-size: 16px;
      line-height: 19px;
      color: #ADA1C7;
    }
    &:-moz-placeholder {
      font-family: $font-family-base;
      font-size: 16px;
      line-height: 19px;
      color: #ADA1C7;
    }
    &:-ms-input-placeholder {
      font-family: $font-family-base;
      font-size: 16px;
      line-height: 19px;
      color: #ADA1C7;
    }
  }
  textarea{
    resize: none;
  }
}

.custom-file{
  .custom-file-label{
    text-align: left;
  }
}