.gallery{
  margin: 24px 0 80px;
  position: relative;
  padding: 24px;
  display: none;
  @media (max-width: 1024px) {
    margin: 24px 10% 64px;
  }
  @media (max-width: 768px) {
    margin: 24px 0% 48px;
  }
}
.gallery__arrow{
  position: absolute;
  right: -32px;
  top: 50%;
  transform: translate(50%,0);
  &.gallery__arrow_prev{
    left: -32px;
    right: auto;
    transform: translate(50%,0) rotate(180deg);
  }
}
.gallery__modal{
  .modal-body,.modal-footer,.modal-header{
    @media (max-width: 768px) {
      padding: 16px;
    }
  }
  .modal-dialog{
    max-width: 500px;
    @media (max-width: 500px) {
      max-width: 90%;
    }
  }
}
.gallery__item-inner{
}
.gallery__item{
}
.gallery__item-title{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #585967;
  margin-bottom: 4px;
}
.gallery__item-description{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #585967;
  margin-bottom: 16px;
}
.gallery__item-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery__item-image{
  transition: 0.3s ease-in-out;
  max-width: 100%;
  width: auto;
  min-height: 100%;
  max-height: 300px;
}
.gallery__item-image-lg{
  display: none!important;
}
.gallery-wrap{
  display: flex;
  flex-direction: column;
}
.gallery-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallery__item-lg{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 327px;
  max-height: 500px;
  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}
.gallery__qr{
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  .gallery__qr-image{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
.resources-list{
  display: flex;
  flex-direction: column;

}
.resource-item{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  &:last-of-type{
    margin-bottom: 0;
  }
  .resource-item__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .resource-item__image-wrap{
    width: 48px;
    height: 48px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    margin-right: 8px;
    flex-shrink: 0;
    .resource-item__image{
      max-width: 120%;
      max-height: 120%;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }

  .resource-item__name{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #7C8298;
    margin-bottom: 16px;
  }
  .resource-item__type{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #7C8298;
    margin-bottom: 8px;
  }
}
.resource-item__note{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #7C8298;
  margin-bottom: 8px;
}
.resource-item__note_bold{
  font-weight: 600;
}
.resource-item__best-viewed{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #585967;
  margin-bottom: 16px;
}
.steps-title{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #585967;
  @media (max-width: 720px) {
    font-size: 16px;
  }
}
.steps{
  padding-left: 20px;
  margin-bottom: 0;
  .steps__item{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    color: #585967;
    @media (max-width: 720px) {
      font-size: 14px;
    }
  }
  .steps__item-button{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: underline;
    box-shadow: none;
    outline: none;
    font-size: inherit;
    &:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active:focus,&:hover,&:focus,&:active{
      color: $violet-blue2;
      outline: 0;
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.feedback-modal{
  z-index: 10001;
}

.lg-backdrop{
  z-index: 2000;
}
.lg-outer{
  z-index: 3000;
}
