.loading {
  position: fixed;
  overflow: hidden;
  background-color: $loading-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.loading__logo {
  animation: pulse 2s linear infinite alternate;
}

.loading__logo_up {
  animation: logoup 2s linear alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: 0.6s ease-in-out top;

}

.starting {
  position: absolute;
  background-color: $loading-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: none;

  .navbar-menu {
    .btn {
      @media screen and (max-width: 425px) {
        min-width: auto;
      }
    }
  }
}

.starting__video {
  max-width: 100%;
  max-height: 100%;
  outline: none;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
    opacity: 0.5;
  }
}


@keyframes logoup {
  to {
    margin-top: -50vh;
  }
}

$base: 25;
$inc: 25;
$border: 2px;
$duration: 1500;
$stagger: 50;
$easing: cubic-bezier(0.680, -0.750, 0.265, 1.750);

.loader-ring {
  animation: spin 1.5s $easing infinite forwards;
  border-radius: 50%;
  border: $border solid transparent;
  border-top-color: $violet-lighter;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  @for $i from 1 through 100 {
    &:nth-child( #{ $i } ) {
      animation-delay: ( $i ) * 0.05s;
      height: $base + ( $i - 1px ) * $inc;
      width: $base + ( $i - 1px ) * $inc;
    }
  }
}

@keyframes spin {
  0% {
    border-top-color: $violet-lighter;
  }
  25% {
    border-top-color: $violet;
  }
  50% {
    border-top-color: $violet-blue;
  }
  75% {
    border-top-color: $violet;
  }
  100% {
    border-top-color: $violet-lighter;
    transform: rotate(360deg);
  }
}