.modal{
  overflow-y: hidden;
  padding-left: 0;
  .modal-dialog{
    max-width: 60%;
    position: relative;
    @media screen and (max-width: 1024px) {
      max-width: 80%;
    }
    @media screen and (max-width: 768px) {
      margin: 0.75rem auto;
    }
    @media screen and (max-width: 425px) {
      max-width: 90%;
    }
  }
  .modal-content{
    max-height: 85vh;
    border-radius: 0;
    border-color: transparent;
    @media screen and (max-width: 425px) {
      max-height: 80vh;
    }
  }
  .modal-header{
    padding: 2rem 3rem 1rem;
    border-bottom: 0;
  }
  .modal-body{
    padding: 1rem 3rem;
    max-height: calc(100% - 120px);
    overflow-y: auto;
  }
  .modal-footer{
    border-top: 0;
    padding: 2rem 3rem 3rem;
  }
  .modal-title{
    font-size: 24px;
    font-weight: 600;
  }
  .close{
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .modal-header__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal__photo{
    max-width: 100%;
    max-height: 100%;
  }
  .modal__photo-img{
    width: 100%;
    height: 100%;
  }
}

//team-modal
.team-modal{
  .modal-dialog{
  }
  .modal-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: calc(100% - 48px);
  }
  .modal-content{
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      overflow: visible;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      background-image: url(../images/print1.png);
      background-repeat: no-repeat;
      z-index: 2;
      width: 294px;
      height: 304px;
      top: -35%;
      right: 15%;
      @media screen and (max-width: 768px) {
        content: none;
      }
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      background-image: url(../images/print2.png);
      background-repeat: no-repeat;
      width: 200px;
      height: 177px;
      z-index: 2;
      bottom: -15%;
      right: -4%;
      @media screen and (max-width: 768px) {
        content: none;
      }
    }
  }
  .team-modal__about{
    text-indent: 0;
    line-height: 40px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }
  .team-modal__photo{
    @media screen and (min-width: 768px) and (max-width: 900px) {
      position: absolute;
      width: auto;
      max-height: 100%;
      left: -30%;
    }
    @media screen and (min-width: 768px) and (max-width: 1440px) {
      position: absolute;
      width: auto;
      max-height: 100%;
    }
  }
}
//advisor modal
.advisor-modal{
  .team-modal__photo{
    @media screen and (min-width: 768px) and (max-width: 900px) {
      position: relative;
      left: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1440px) {
      position: relative;
      width: 100%;
      max-height: 100%;
    }
  }
}
//contact modal
.contact-modal{
  .modal-content{
    max-height: 100%;
    padding: 20px 0;
    @media screen and (max-width: 425px) {
      padding: 0;
    }
  }
  .modal-dialog{
    max-width: 70%;
    @media screen and (max-width: 425px) {
      max-width: 90%;
    }
  }
  .modal-header{
    @media screen and (max-width: 768px) {
      padding: 10px 0;
    }
  }
  .modal-body{
    overflow: hidden;
    max-height: 100%;
    @media screen and (max-width: 768px) {
      padding: 1rem 10px;
    }
  }
  .modal-title{
    font-size: 20px;
  }
  .modal-subtitle{
    font-size: 16px;
    line-height: 20px;
  }
}
.learn-modal{
  .modal-content{
    max-height: 100%;
  }
  .modal-dialog{
    max-width: 90%;
    @media screen and (max-width: 425px) {
      max-width: 90%;
    }
  }

}
.join-modal{
  .modal-content{
    max-height: 100%;
  }
  .modal-body{
    @media screen and (max-width: 768px) {
      padding: 1rem 10px;
    }
  }
}
.accordion-in-modal{
  .card-body{
    max-height: 300px;
    overflow: auto;
  }
  .card-header{
    width: 100%;
  }
  .card-title-modal{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    width: 100%;
    &:focus, &:active,&:not(:disabled):not(.disabled):active{
      background-color: $light;
    }
    @media (max-width: 425px) {
      text-align: center;
      width: 100%;
    }
  }
}

.modal-content_dark{
  background-color: $violet-dark;
  .close{
    color: $white;
  }
}

.unmute-modal{
  .modal-dialog{
    max-width: 400px;
  }
  .modal-content{
    position: relative;
  }
  .modal-title{
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 18px;
  }
  .music-svg{
    position: absolute;
    width: 150%;
    z-index: -1;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    svg{
      width: 100%;
      height: auto;
    }
  }
}