.navbar{
  justify-content: space-between;
  min-height: 80px;
  background-color: transparent;
  width: 100%;
  padding: 0 5px;
  position: relative;
  z-index: 1000;

  .navbar-menu{
    .nav-item{
      margin-left: 64px;
      &:first-of-type{
        margin-left: 0;
      }
      &.nav-item-about{
        margin-left: auto;
        @media (max-width: 992px) {
          margin-left: 64px;
        }
      }
    }
  }
  .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-link{
      padding: 0.5rem 8px;
      color: $text-color;
      font-size: 18px;
      font-weight: 300;
      transition: 0.3s ease-in-out;
      line-height: 100%;
      &:hover,&:focus{
        color: $violet-blue2;
        outline: none;
      }
      @media (min-width: 993px) and (max-width: 1172px){
        font-size: 14px;
        padding: 0.5rem 4px;
      }
      &.active{
        color: $violet-blue2;
      }
    }
    .btn{
      @media (min-width: 993px) and (max-width: 1172px){
        font-size: 14px;
        min-width: auto;
      }
    }
  }
  .navbar-brand{
    padding-right: 4px;
    display: flex;
    align-items: center;
    min-width: 180px;
  }
  .navbar__logo{
    padding-right: 2px;
    min-height: 96px;
    max-height: 96px;
    transition: height 0.3s ease;
  }
  .nav-link.language-switcher{
    padding-right: 5px;
    margin-left: 32px;
    &:after{
      content: none;
    }
  }
  .nav-item.dropdown{
    .nav-link.dropdown-toggle{
      &:after{
        content: none;
      }
    }
  }
  .dropdown-hoverable{
    .dropdown-menu{
      margin-top: 0;
      .dropdown-item{
        &:active{
          background-color: $violet-blue2;
        }
      }
    }
    &:hover{
      @media (min-width: 993px) {
        >.dropdown-menu{
          display: block;
        }
      }
    }
  }

  .brand-text{
    opacity: 0;
  }

}

.brand-text{
  font-size: $logo_font_size;
  font-weight: 400;
  color: $text-color;
  display: inline;
  font-family: $font-family-base;
  position: relative;
  word-spacing: -0.2em;
  text-transform: none;
  min-height: 35px;
  max-height: 35px;
  letter-spacing: 0;
  &.brand-text_inner{
    top: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    opacity: 1;
    .brand-text_superscript{
      font-weight: 500;
      color: inherit;
    }
  }
}
.brand-text_smaller{
  position: relative;
  top: 3px;
}
.brand-text_accent{
  display: inline;
  padding-right: 5px;
  position: relative;
  top: 0;
}
.brand-text_superscript{
  position: relative;
  font-weight: 600;
  vertical-align: .7em;
  font-size: 0.6em;
  transform: scale(0.5);
  top: 0.3em;
}

.header-navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: #fff;
  .brand-text{
    opacity: 1;
  }
  .navbar__logo{
    min-height: 96px;
    max-height: 96px;
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 992px) {
  .mobile-main-nav {
    min-height: 0;
    position: relative;
    justify-content: space-between;
    .navbar-toggler {
      top: 8px;
      right: 16px;
      outline: none;
      box-shadow: none;
      display: block;
      z-index: 10;
      position: relative;
    }
    .navbar-toggler-close{
      z-index: 10;
      position: absolute;
    }
    .navbar-collapse {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 9;
      margin: 0;
      padding: 15% 15px 5%;
      height: auto !important;
      width: 300px !important;
      transform: translateX(300px);
      transition: transform 280ms cubic-bezier(0.25, .8, 0.25, 1);
      background: $grey;
      &:before {
        opacity: 0;
      }
      &.show {
        -webkit-transform: translateX(0px);
        -webkit-transition: transform 280ms cubic-bezier(0.25, .8, 0.25, 1);
        transform: translateX(0px);
        transition: transform 280ms cubic-bezier(0.25, .8, 0.25, 1);
        overflow-y: visible;
      }
      .navbar-nav{
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: center;
        margin-left: 0!important;
        width: 100%;
        overflow-y: auto;
        z-index: 10;
      }
      .nav-item{
        margin-bottom: 48px;
        &.user-dropdown{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 0;
        }
        .nav-link{
          &.active:after{
            content: none;
          }
          &.navbar-user-dropdown{
            margin-left: 0;
            padding-left: 16px;
            &:before,&:after{
              content: none;
            }
          }
        }
      }
      .dropdown-menu.dropdown-menu-user{
        display: inline-block;
        background-color: transparent;
        border-color: transparent;
        min-width: auto;
        position: static;
        .dropdown-item{
          color: $white;
          padding: 10px 16px;
        }
      }
    }
  }

  .mobile-main-nav .navbar-collapse.show:before, .mobile-main-nav .navbar-collapse.collapsing:before {
    content: "";
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    width: 100vw;
    bottom: 0;
    animation: show 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 560ms forwards;
    display: none;
  }
}


.logo-svg{
  width: 40px;
  height: 80px;
  margin-right: 10px;
}

.tabs{
  margin-bottom: 48px;
  .nav-item{
    margin: 0 4px;
    @media (max-width: 768px){
      margin-bottom: 10px;
    }
  }
  .nav-link{
    background-color: transparent;
    color: $violet-lighter;
    border: 1px solid $violet-lighter;
    cursor: pointer;
    &.active{
      border: 1px solid $violet-lighter;
      background-color: $violet-lighter;
      color: $violet;
    }
  }
}

.modal-tabs{
  margin: 0 auto;
  border: none;
  .nav-item{
    .nav-link{
      border: none;
      background-color: $violet-bg;
      border-radius: 4px;
      min-width: 150px;
      text-align: center;
      padding: 2px  1rem;
      margin: 0 8px;
      color: $violet-lighter;
      transition: 0.3s ease;
      &.active{
        background-color: $violet-blue2;
        color: $white;
      }
    }
  }
}
.navbar_bg{
  background-color: #fff;
}
.navbar-bg-wrap{
  position: relative;
  color: $white;
  padding-bottom: 48px;
  margin-bottom: 80px;
  min-height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:before{
    content: '';
    display: block;
    background: #332C51;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .navbar__bg-image{
    position: absolute;
    top: 0;
    width: auto;
    min-width: 100%;
    z-index: -2;
    min-height: 100%;
    left: 50%;
    transform: translate( -50%, 0);
  }
  .main-title{
    margin-bottom: 40px;
  }
  .subtitle{
  }
  .navbar-bg-wrap__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
  .navbar__bg-image-wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -2;
  }
}
.navbar-bg-solid{
  background-color: $violet-dark;
  margin-bottom: 80px;
  @media (max-width: 768px){
    margin-bottom: 32px;
  }
}

.nav-pills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .nav-item{
    margin: 0 12px;
    margin-bottom: 36px;
    .nav-link{
      background: $light-bg;
      border-radius: 240px;
      font-size: 16px;
      color: $violet-dark;
      padding: 6px 8px;
      min-width: 153px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      &.active{
        background-color: $violet-blue2;
        color: $white;
      }
    }
  }
}

.navbar-bg-wrap__links{
  padding: 0 121px;
  @media (max-width: 1440px){
    padding: 0;
  }
}

.navbar-toggler,
.navbar-toggler span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.navbar-toggler {
  position: relative;
  width: 30px;
  height: 20px;
  &.active{
    span{
      &:nth-of-type(1){
        animation: active-menu07-bar01 .75s forwards;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        animation: active-menu07-bar03 .75s forwards;
      }
    }
  }
  span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $text-color;
    border-radius: 4px;
    &:nth-of-type(1){
      top: 0;
      animation: menu07-bar01 .75s forwards;
    }
    &:nth-of-type(2) {
      top: 7.5px;
      transition: all .25s .25s;
      opacity: 1;
    }
    &:nth-of-type(3) {
      bottom: 0;
      animation: menu07-bar03 .75s forwards;
    }
  }
}
@keyframes menu07-bar01 {
  0% {
    transform: translateY(10px) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu07-bar03 {
  0% {
    transform: translateY(-10px) rotate(-45deg);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(5px) rotate(45deg);
  }
}
@keyframes active-menu07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(-10px) rotate(-45deg);
  }
}

