.partnership-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1100px) {
    margin-bottom: 48px;
  }
  .partnership-item__icon{
    margin-bottom: 32px;
    min-height: 110px;
    @media (max-width: 824px) {
      transform: scale(0.8);
    }
  }
  .partnership-item__text{
    font-size: 24px;
    line-height: 39px;
    color: #585967;
    text-align: center;
    @media (max-width: 824px) {
      font-size: 18px;
    }
  }
  .partnership-item__title{
    font-size: 26px;
    color: $text-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 24px;
    @media (max-width: 824px) {
      font-size: 20px;
    }
  }
}
.partnership-item-wrap{
  @media (max-width: 1100px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.partnership-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 160px 0;
  @media (max-width: 1100px) {
    padding: 80px 0;
  }
  @media (max-width: 824px) {
    padding: 48px 0;
  }
  .partnership-section__header{
    margin-bottom: 124px;
    @media (max-width: 1100px) {
      margin-bottom: 48px;
    }
    @media (max-width: 824px) {
      margin-bottom: 24px;
    }
  }
}

.read-more{
  color: $text-color;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  &:hover{
    color: $violet-blue2;
  }
  &.collapsed:after  {
    content: '+ Read More';
  }

  &:not(.collapsed):after {
    content: '- Read Less';
  }
}