.phone-intro{
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
}
.phone-section{
  position: relative;
  max-width: 787px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  overflow: visible;
  z-index: 100;
  .phone-section__mockup{
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    svg{
      max-width: 100%;
    }
  }
  .phone-section__vr-headset{
    position: absolute;
    top: 300%;
    left: 50%;
    width: 170%;
    z-index: -2;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: auto;
      background-color: #000000;
      background: radial-gradient(#00000000, #000000 30%);
      z-index: 1;
      opacity: 0;
      transition: 1s ease-in-out 1s;
    }
    .phone-section__vr-headset-image{
      max-width: 100%;
      position: relative;
    }
  }
  .phone-section__video{
    max-width: 94%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: 1s ease;
  }
}
.phone-section-animation{
  animation: float 5s ease-in-out infinite;
}
.phone-section-inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
}
.rectangles{
  position: absolute;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  &:before{
    content: '';
    display: block;
    width: 50vw;
    height: 80vh;
    background: linear-gradient(0deg, $dark-bg, $dark-bg), #525252;
    box-shadow: 0px 14px 22px 5px rgba(0, 0, 0, 0.25);
    transform: rotate(-9.49deg);
    position: absolute;
    top: -30%;
    left: -36%;
    transition: 1s ease-in-out;
    @media (max-height:500px) {
      display: none;
    }
  }
  &:after{
    content: '';
    display: block;
    width: 150vh;
    height: 100vw;
    background-color: #EBEBEB;
    position: absolute;
    box-shadow: 0px 30px 24px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(55.34deg);
    right: 0;
    top: -5%;
    transition: 1s ease-in-out;
  }
}

.phone-section-wrap{
  min-height: calc( 100vh - 80px );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visible-on-phase-1{
  transition: 0.5s ease-in-out;
  display: block;
}
.visible-on-phase-2{
  display: none;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  height: 0;
  transition: 0.5s ease-in-out;
}
.visible-on-phase-3{
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  height: 0;
  transition: 0.5s ease-in-out;
  display: none;
}
.visible-on-phase-4{
  opacity: 0;
  display: none;
  height: 0;
  transition: 0.5s ease-in-out;
}
.visible-on-phase-5{
  opacity: 0;
  display: none;
  height: 0;
  transition: 0.5s ease-in-out;
}
.rectangles{
  @media (max-width:425px) {
    &:before{
      display: none;
    }
  }
  &.phase-go-down{
    &:before{
      top: -60%;
    }
    &:after{
      top: -45%;
    }
  }
  &.phase-rotated{
    &:before{
      transform: rotate(9.49deg);
    }
    &:after{
      transform: rotate(65.34deg);
    }
  }
  &.phase-go-right{
    &:before{
      left: -56%;
    }
    &:after{
      right: 50%;
    }
  }

}

#pause-btn{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 10;
}

.phase-rotated{
  transition: 0.5s ease-in-out;
  .phone-section{
    transform: rotate(90deg);
    transition: 0.9s cubic-bezier(0.4, 0, 1, 1);;
    flex-direction: row;
    margin-bottom: 0;
  }
  .visible-on-phase-2{
    opacity: 1;
    height: auto;
    display: flex;
  }
  .visible-on-phase-1{
    opacity: 0;
    height: 0;
    display: none;
  }
  .btn-mute{
    transform: rotate(-90deg);
    @media (max-width:600px) {
      transform: rotate(-90deg) scale(0.8);
    }
    @media (max-width:480px) {
      transform: rotate(-90deg) scale(0.6);
    }
  }
  .phone-section-animation{
    padding: 30% 0;
  }
  #pause-btn{
    transform: translate(-50% , -50%) rotate(-90deg);
  }
  #btn-unmute{
    transform: rotate(-90deg);
  }
}
.phase-sculpture{
  .visible-on-phase-3{
    opacity: 1;
    height: auto;
    display: flex;
  }
  .visible-on-phase-2{
    opacity: 0;
    height: 0;
    display: none;
  }
}
.phase-back-to-landscape{
  transition: 0.5s ease-in-out;
  .phone-section{
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }
  .rectangles{
    &:before{
      transform: rotate(-9.49deg);
    }
    &:after{
      transform: rotate(55.34deg);
    }
  }
  .visible-on-phase-1{
    opacity: 0;
    height: 0;
  }
  .visible-on-phase-4{
    opacity: 1;
    height: auto;
    display: block;
  }
}
.phase-show-vr-text{
  .visible-on-phase-4{
    opacity: 0;
    display: none;
    height: 0;
  }
  .visible-on-phase-5{
    opacity: 1;
    display: block;
    height: auto;
  }
}
.phase-show-headset{
  .phone-section__vr-headset{
    top: 50%;
    opacity: 1;
    z-index: 2;
  }
  .phone-section__mockup{
    opacity: 0;
    transition: 0.5s ease-in-out 0.5s;
  }
  .visible-on-phase-4{
    opacity: 0;
    display: none;
    height: 0;
  }
  .visible-on-phase-5{
    opacity: 1;
    display: block;
    height: auto;
  }
  .phone-section__video{
    width: 95%;
    height: auto;
    max-width: none;
    max-height: none;
  }
}

.phase-increase-headset{
  .phone-section-animation{
    z-index: 100000;
    position: relative;
  }
  .phone-section__vr-headset{
    transform: translate(-50%, -50%) scale(0.9);
  }
  .phone-section__video{
    border-radius: 15%;
  }
}

.phase-show-vr{
  .phone-section__video{
    z-index: 2;
  }
  .phone-section__vr-headset{
    &:before{
      top: -20%;
    }
  }
}

.phase-vr-end{
  .phone-section__vr-headset{
    transform: translate(-50%, -50%) scale(1);
    &:before{
      opacity: 0;
      transition: 0.3s ease-in-out 0s;
      transform: scale(0);
    }
  }
  .phone-section__video{
    z-index: -1;
  }
}

.btn-mute{
  position: absolute;
  min-width: auto;
  bottom: 10%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  transition: 0.5s ease-in-out;
  z-index: 2;
  border: none;
  &:focus,&:active{
    background-color: rgba(255, 255, 255, 0.7);
  }
  @media (max-width:600px) {
    transform: scale(0.8);
    bottom: 8%;
    left: 5%;
  }
  @media (max-width:480px) {
    transform: scale(0.6);
    bottom: 8%;
    left: 5%;
  }
  .btn-mute__icon-unmuted{
    display: none;
  }
  .btn-mute__icon-muted{
    display: block;
  }
  &.unmuted{
    .btn-mute__icon-unmuted{
      display: block;
    }
    .btn-mute__icon-muted{
      display: none;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-12px);
  }
  100% {
    transform: translatey(0px);
  }
}

.unmute-popup{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.unmute-popup__btn{
  transition: 0.3s ease-in-out;
  &:not(:disabled):not(.disabled):active,&:not(:disabled):not(.disabled).active,&:not(:disabled):not(.disabled):active:focus,&:hover,&:active,&:focus{
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  &:focus{
    transform: scale(0.8);
  }
  svg{
    width: 80px;
    height: auto;
    @media (max-width:600px) {
      width: 50px;
    }
    *{
      fill: $white;
    }
  }
}