.plan-item__wrap{
  &:nth-of-type(1){
    .plan-item{
      .wave-item{
        transform: translate(0, 0);
        animation: wave-item-animate2 3s infinite alternate forwards paused;
        transition: 1s ease-in-out;
        &:nth-of-type(2){
          animation-delay: 2s;
          transition: 3s ease-in-out;
        }
        &:nth-of-type(3){
          animation-delay: 1s;
        }
      }
      &:hover{
        .wave-item{
          animation-play-state: running;
        }
      }
    }
  }
  &:nth-of-type(3){
    .plan-item{
      .wave-item{
        transform: translate(0, 0);
        animation: wave-item-animate3 3s infinite alternate forwards paused;
        transition: 1s ease-in-out;
        animation-delay: 0s;
        &:nth-of-type(2){
          animation-delay: 2s;
          transition: 2s ease-in-out;
        }
        &:nth-of-type(3){
          animation-delay: 1s;
          transition: 1.5s ease-in-out;
        }
      }
      &:hover{
        .wave-item{
          animation-play-state: running;
        }
      }
    }
  }
}
.plan-item{
  color: $violet-dark;
  background: linear-gradient(0deg, #FCFBFF, #FCFBFF), #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  padding: 48px 24px;
  text-align: center;
  max-width: 281px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  &:hover{
    .wave-item{
      animation-play-state: running;
    }
  }
  .wave-item{
    transition: 2s ease-in-out;
    animation: wave-item-animate 2s infinite alternate forwards paused;
    transform: translate(0, 0);
    &:nth-of-type(2){
      animation-delay: 1s;

    }
    &:nth-of-type(3){
      animation-delay: 2s;
    }
  }
  .plan-item__header{
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    height: 191px;
  }
  .plan-item__body{
    position: relative;
    z-index: 2;
    flex-grow: 1;
  }
  .plan-item__name{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    max-height: 30px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .plan-item__description{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }
  .plan-item__benefits{
    font-size: 12px;
    line-height: 15px;
    color: $violet-dark;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .plan-item__benefits-item{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 24px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .plan-item__footer{
    position: relative;
    //padding-top: 160px;
    padding-top: 24px;
    z-index: 0;
  }
  .plan-item__footer-padding{
    padding-top: 120px;
  }
  .plan-item__wave{
    position: absolute;
    left: -24px;
    top: 0;
    right: -24px;
    svg{
      width: 100%;
    }

  }
  .plan-item__price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
  .plan-item__price-value{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $violet-blue2;
  }
  .plan-item__price-period{
    font-size: 10px;
    line-height: 12px;
    color: $violet-dark;
  }
}

.wave-mt{
  margin-top: -25px;
}

@keyframes wave-item-animate {
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(180px, 0);
  }
}
@keyframes wave-item-animate2 {
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(-180px, 0);
  }
}

@keyframes wave-item-animate3 {
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(250px, -10px);
  }
}