.social-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social-group__item{
  color: $white;
  padding: 10px 15px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    color: $violet;
  }
}
.social-group__item_dark{
  color: $dark-grey;
}

.sharethis-inline-follow-buttons#st-1{
  position: fixed;
  top: 180px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  .st-btn{
    display: block!important;
    margin-bottom: 16px;
    border-radius: 8px;
    &:last-child{
      margin-right: 8px;
    }
  }
}