.prices-section{
  padding: 80px 0;
  background-color: $violet-dark;
  color: $white;
}
.price-item__col{
  @media (max-width: 1262px) and (min-width: 768px) {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0;
    .price-item{
      height: auto;
    }
  }
}
.price-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $violet-bg;
  padding: 24px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 100%;
  margin-bottom: 32px;
  &.active{
    border-color: $white;
    .price-item__status{
      display: block;
    }
  }
  @media (max-width: 768px) {
    height: auto;
  }
  .price-item__status{
    position: absolute;
    top: -16px;
    border: 1px solid $white;
    padding: 3px 16px;
    border-radius: 4px;
    background-color: $violet-dark;
    display: none;
  }
  .price-item__name{
    font-size: 16px;
    font-family: $font-family-base;
    background: linear-gradient(270deg, #7065DD 0%, #845EC2 100%), #FFFFFF;
    border-radius: 5px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    text-align: center;
  }
  .price-item__value{
    font-size: 24px;
    line-height: 19px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

  }
  .price-item__value_small{
    font-size: 12px;
    color: $violet-light;
  }
  .price-item__options{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .price-item__options-item{
    list-style-type: none;
    text-align: center;
    line-height: 19px;
    margin-bottom: 16px;
  }
}