.team-card-wrap{
  margin-bottom: 40px;
  @media (max-width: 991px) {
    font-size: 16px;
  }
}
.team-card__photo-wrap{
  position: relative;
  margin-bottom: 32px;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    bottom: 0;
    right: -20px;
    left: -20px;
    background-color: #fbfbfb;

  }
}
.team-card{
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  .team-card__photo{
    max-width: 100%;
    position: relative;
  }
  .team-card__name{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 216%;
    letter-spacing: 2px;
    margin-bottom: 8px;
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  .team-card__role{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 216%;
    letter-spacing: 2px;
    text-transform: uppercase;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 16px;
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
  .team-card__email,.team-card__about{
    font-weight: 300;
    font-size: 14px;
  }
}

#team-map {
  height: 100%;
  min-height: 50vh;
  position: absolute;
  width: 100%;
  left: -15px;
  max-height: none;
  top: 0;
  @media (min-width: 992px) {
    width: 70vw;
  }
  @media (max-width: 425px) {
    left: -45px;
    width: 100vw;
    min-height: 100%;
  }
}

.team-popup{
  .team-popup__photo-wrap{
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: #fbfbfb;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  .team-popup__photo{
    max-width: 200px;
    height: auto;
  }
  .team-popup__location{
    font-size: 14px;
    margin-bottom: 16px;
  }
  .team-popup__email{
    margin-bottom: 8px;
  }
}