<section class="about-section full-height-wrap" id="about-section">
    <div class="container">
        <div class="row">
           <div class="col-md-3 d-flex flex-column justify-content-center">
               <div class="about-nav__title">About
                   <span class="brand-text brand-text_inner">3<span class="brand-text_superscript">rD</span><span class="brand-text_accent">i</span></span>
               </div>
               <nav>
                   <ul class="nav nav-tabs about-nav" id="aboutTabs" role="tablist">
                       <li class="nav-item"><a class="nav-link active" id="vision-tab" data-toggle="tab" href="#vision-tab-pane" role="tab" aria-controls="vision" aria-selected="true">Our Vision</a></li>
                       <li class="nav-item"><a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission-tab-pane" role="tab" aria-controls="mission" aria-selected="false">Our Mision</a></li>
                       <li class="nav-item"><a class="nav-link" id="hystory-tab" data-toggle="tab" href="#hystory-tab-pane" role="tab" aria-controls="hystory" aria-selected="false">Our Story</a></li>
                       <li class="nav-item"><a class="nav-link" id="team-tab" data-toggle="tab" href="#team-tab-pane" role="tab" aria-controls="team" aria-selected="false">Our Team</a></li>
                       <li class="nav-item"><a class="nav-link" id="advisors-tab" data-toggle="tab" href="#advisors-tab-pane" role="tab" aria-controls="advisors" aria-selected="false">Our Advisors</a></li>
                   </ul>
               </nav>
           </div>
            <div class="col-md-9 d-flex flex-column justify-content-center">
                <div class="tab-content" id="aboutTabsContent">
                    <div class="tab-pane fade show active" id="vision-tab-pane" role="tabpanel" aria-labelledby="vision-tab">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="about-section__title">Our vision is to bring the world to people.</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <p class="about-section__text">With over 90% of the world’s population unable to travel, we built a platform to create immersive augmented and virtual content for museums and art galleries and other attractions.</p>
                                <p class="about-section__text">We now create innovative and engaging exhibitions for your visitors. They can experience immersive story telling at the gallery, get a trailer before they visit or visit without traveling.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mission-tab-pane" role="tabpanel" aria-labelledby="mission-tab">
                        <div class="row">
                            <div class="col-8">
                                <ul class="about-list">
                                    <li class="about-list__item about-section__text">Be content creation partners for all the world needs to experience</li>
                                    <li class="about-list__item about-section__text">Provide innovative solutions for visitors to experience</li>
                                    <li class="about-list__item about-section__text">Manage and protect your exhibits, content and intellectual property in the digital environment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="hystory-tab-pane" role="tabpanel" aria-labelledby="hystory-tab">
                        <div class="row">
                            <div class="col-md-8">
                                <ul class="about-list">
                                    <li class="about-list__item about-section__text">We came into existence in 2017 as an idea.</li>
                                    <li class="about-list__item about-section__text">We learnt from our environment.</li>
                                    <li class="about-list__item about-section__text">We focused on our vision and mission</li>
                                    <li class="about-list__item about-section__text">We provide a full service solution; from content creation to content delivery to content support</li>
                                    <li class="about-list__item about-section__text">We create immersive story telling experiences using augmented reality and virtual realitywe provide a full service solution; from content creation to content delivery to content support</li>
                                    <li class="about-list__item about-section__text">We are the only company in the world who deliver audio, video, image, text, 3d Models, multimedia animations, games – all with multi-language support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="team-tab-pane" role="tabpanel" aria-labelledby="team-tab">
                        <div class="row">
                            <div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Ananya Sharma</div>
        <div class="team-card__role">AI Intern</div>
        <a class="text-dark team-card__email" href = "mailto: ananya.sharma@3rdilab.com">ananya.sharma@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Anna Logacheva</div>
        <div class="team-card__role">UI/UX Designer & Front-End Developer</div>
        <a class="text-dark team-card__email" href = "mailto: anna.logacheva@3rdilab.com">anna.logacheva@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Hannah Eliason</div>
        <div class="team-card__role">VR Content Creator</div>
        <a class="text-dark team-card__email" href = "mailto: hannah.eliason@3rdilab.com">hannah.eliason@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Raj Nayak</div>
        <div class="team-card__role">CEO</div>
        <a class="text-dark team-card__email" href = "mailto: raj.nayak@3rdilab.com">raj.nayak@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Sierra Francis</div>
        <div class="team-card__role">AI Engineer</div>
        <a class="text-dark team-card__email" href = "mailto: sierra.francis@3rdilab.com">sierra.francis@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Vlad Radchenko</div>
        <div class="team-card__role">Back End Developer</div>
        <a class="text-dark team-card__email" href = "mailto: vlad.radchenko@3rdilab.com">vlad.radchenko@3rdilab.com</a>
    </div>
</div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Abhishek Kamath</div>
        <div class="team-card__role">Software Development</div>
        <a class="text-dark team-card__email" href = "mailto: abhishek.kamath@3rdilab.com">abhishek.kamath@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Divya Shenoy</div>
        <div class="team-card__role">Testing</div>
        <a class="text-dark team-card__email" href = "mailto: divya.shenoy@3rdilab.com">divya.shenoy@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Lujie Duan</div>
        <div class="team-card__role">Software Development</div>
        <a class="text-dark team-card__email" href = "mailto: lujie.duan@3rdilab.com">lujie.duan@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Ramesh Nayak</div>
        <div class="team-card__role">Software Development</div>
        <a class="text-dark team-card__email" href = "mailto: ramesh.nayak@3rdilab.com">ramesh.nayak@3rdilab.com</a>
    </div>
</div>
<div class="col-md-4 team-card-wrap">
    <div class="team-card">
<!--        todo update photos when we have new ones-->
<!--        <div class="team-card__photo-wrap">-->
<!--            <img src="./images/team/silhouette.png" alt="" class="team-card__photo">-->
<!--        </div>-->
        <div class="team-card__name">Yi Wang</div>
        <div class="team-card__role">Machine Learning / Ai</div>
        <a class="text-dark team-card__email" href = "mailto: yi.wang@3rdilab.com">yi.wang@3rdilab.com</a>
    </div>
</div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="advisors-tab-pane" role="tabpanel" aria-labelledby="advisors-tab">5</div>
                </div>
            </div>
        </div>
    </div>
    <img class="about-section__image" id="vision-tab-image" src="../images/about/globe.png" alt="globe">
</section>