@import "variables";
@import "typography";
@import "../fonts/fonts";
@import "components/button";
@import "components/content";
@import "components/navbar";
@import "components/footer";
@import "components/author";
@import "components/loading";
@import "components/modals";
@import "components/social-group";
@import "components/about";
@import "components/form";
@import "components/subscriptions";
@import "components/team";
@import "components/faqs";
@import "components/blog";
@import "components/pricing";
@import "components/phone-section";
@import "components/advantages";
@import "components/benefits";
@import "components/contact-us-section";
@import "components/partnership";
@import "components/flip-card";
@import "components/experience";
@import "components/gallery";

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: $font-family-base;
  color: $dark-grey;
  transition: background-color 0.5s ease;
}
.container{
  max-width: 1440px;
  width: 100%;
  padding: 0 64px;
  @media (max-width: 768px){
    padding: 0 48px;
  }
}

.container-inner{
  padding: 0 121px;
  margin-bottom: 80px;
  @media (max-width: 1440px){
    padding: 0;
  }
}
.container-fluid{
  @media (max-width: 768px){
    padding: 0 30px;
  }
}
.main-interface{
  height: 100vh;
}
.inclined-bg{
  position: relative;
  .container{
    z-index: 2;
    position: relative;
  }
  &:after {
    background-color: #332C51;
    clip-path: polygon(0 140px, 100% 0, 100% 100%, 0 80%);
    top: -5%;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform-origin: 100%;
    z-index: 1;
  }
}

.main-interface_coming {
  background: linear-gradient(90deg, #845EC2, #651FFF, #C73B86, #845EC2);
  background-size: 400%;
  -webkit-animation: gradient-animation 32s ease infinite;
  animation: gradient-animation 32s ease infinite; }

.centered-block_coming {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }


.wireframe-canvas{
  max-width: 100%;
  padding: 24px 0;
  margin-bottom: 48px;
  position: relative;
  .wireframe-canvas__image{
    max-width: 500px;
    width: 100%;
    animation: float 2.3s ease infinite forwards;
  }
  .wireframe-canvas__girl{
    position: absolute;
    bottom: -25px;
    right: 0;
    max-height: 300px;
    z-index: 3;
    width: auto;
  }
}

.clicks-animated-bg{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  z-index: 2;
  *{
    transition: ease-in-out 1s;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: clicks-animation 3.3s ease infinite forwards;
    &:nth-of-type(2n){
      animation: clicks-animation 3.3s ease 2s infinite forwards;
    }
    &:nth-of-type(3n){
      animation: clicks-animation 3.3s ease 3s infinite forwards;
    }
  }
  .circle-outline{
    animation: clicks-animation 2s ease infinite forwards;
  }
  .square-outline{
    animation: clicks-animation 2s ease 3s infinite forwards;
  }
}

.soar-svg{
  animation: float 2.3s ease infinite forwards;
}
.clicks-animated-svg{
  animation: clicks-animation 3.3s ease 3s infinite forwards;
  transition: ease-in-out 1s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  &:nth-of-type(2n){
    animation: clicks-animation 3.3s ease 2s infinite forwards;
  }
  &:nth-of-type(3n){
    animation: clicks-animation 3.3s ease 3s infinite forwards;
  }
}
.side-illustration{
  svg{
    max-width: 100%;
  }
}

.opacity-svg-animated{
  animation: opacity-animation 1.3s ease 3s infinite forwards;
  &:nth-of-type(2n){
    animation: opacity-animation 2.3s ease 2s infinite forwards;
  }
  &:nth-of-type(3n){
    animation: opacity-animation 3.3s ease 1s infinite forwards;
  }
}

.anim-float-shadow {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  max-width: 628px;
  height: 58px;
  background: radial-gradient(ellipse 48% 30%, rgba(0, 0, 0, 0.16), #ffffff);
  animation: floatShadow 2.3s infinite forwards;
}

@keyframes float {
  0% {
    transform: translateZ(0);
  }

  40% {
    transform: translate3d(0,-6px,0);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes floatShadow {
  0% {
    opacity: 1;
  }

  40% {
    opacity: .8;
  }

  to {
    opacity: 1;
  }
}

@keyframes clicks-animation {
  0% {
    opacity: 1;
    transform: scale(0, 0);
  }

  40% {
    opacity: .1;
    transform: scale(1.5, 1.5);
  }

  to {
    opacity: 1;
    transform: scale(0, 0);
  }
}

@keyframes opacity-animation {
  from {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}

.download-apps{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  margin-bottom: 4px;
  margin-left: 4px;
  @media (max-height:450px) {
    display: none;
  }
  .download-apps__button{
    display: inline-block;
    min-width: 120px;
    height: auto;
    margin-right: 16px;
    @media (max-width: 400px){
      min-width: 100px;
      max-width: 100px;
    }
    img{
      height: auto;
      max-width: 100%;
    }
  }
}

.download-apps__static{
  position: static;
  justify-content: center;
}

.full-height-wrap{
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.wow {
  visibility: hidden;
}

.section-title{
  font-weight: 300;
  font-size: 24px;
  line-height: 17px;
  display: inline-block;
  text-align: center;
  letter-spacing: 12px;
  text-indent: 12px;
  text-transform: uppercase;
  color: $text-color;
  background-color: transparent;
  padding: 0;
  margin-bottom: 64px;
  position: relative;
  @media (max-width: 425px){
    font-size: 18px;
    text-indent: 0;
    max-width: 100%;
  }
  &:before{
    content: '';
    display: block;
    left: -15%;
    border-top: 1px solid #414252;
    width: 61px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);
    box-shadow: 4px 4px 0px 0 #414252;
    @media (max-width: 425px){
      content: none;
    }
  }
  &:after{
    content: '';
    display: block;
    right: -35%;
    border-top: 1px solid #414252;
    width: 61px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);
    box-shadow: 4px 4px 0px 0 #414252;
    @media (max-width: 425px){
      content: none;
    }
  }

}

.covid-alert{
  position: fixed;
  bottom: 16px;
  z-index: 100;
  width: 100%;
  overflow: auto;
  max-height: 50vh;
  //transition: width 1s ease;
  right: 0;
  .covid-alert__inner{
    background-color: #FFDCA7;
    padding: 32px 48px;
    border-radius: 4px;
    box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
  }
  .covid-alert__title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 2px;
    margin-bottom: 8px;
    //transition: font-size 0.3s ease-in-out 0.5s, opacity 1s ease-in-out;
    @media (max-width: 425px){
      font-size: 16px;
    }
  }
  .covid-alert__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 2px;
    //transition: font-size 0.3s ease-in-out 0.5s, opacity 1s ease-in-out;
  }
  svg{
    width: 100%;
    @media (max-width: 767px){
      margin-bottom: 32px;
    }

  }
  .covid-alert__close{
    position: sticky;
    right: 16px;
    top: 16px;
  }
  .covid-alert__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .covid-alert__icon{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg{
      margin-bottom: 0;
    }
  }
  .alert-link{
    //transition: font-size 0.3s ease-in-out 0.5s, opacity 1s ease-in-out;
  }
  &.covid-alert__collapse{
    width: 50px;
    height: 50px;
    right: 10px;
    left: auto;
    background-color: #FFDCA7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    @media (max-width: 767px){
      width: 32px;
      height: 32px;
    }
    .container{
      padding: 0;
      margin: 0;
      width: auto;
    }
    .covid-alert__hidden-in-collapse{
      font-size: 0;
      width: 0;
      .covid-alert__title,.covid-alert__text,.alert-link{
        font-size: 0;
        opacity: 0;
      }
    }
    .covid-alert__icon{
      display: flex;
      max-width: 32px;
      @media (max-width: 767px){
        width: 16px;
        height: 16px;
      }
    }
  }
}