h1{
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 34px;
  @media screen and (max-width: 650px) {
    font-size: 48px;
  }
  @media screen and (max-width: 510px) {
    font-size: 42px;
  }
}
h2{
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 65px;
  @media screen and (max-width: 650px) {
    font-size: 30px;
  }
  @media screen and (max-width: 510px) {
    font-size: 24px;
  }
  @media (max-width:425px) {
    font-size: 18px;
  }
}
.content-text{
  font-size: 16px;
  font-weight: 400;
  text-indent: 20px;
  line-height: 170%;
  margin-bottom: 2rem;
  &_bold{
    font-weight: 500;
  }
}
.content-title-inline{
  font-size: 16px;
  font-weight: 600;
}
.title-lined{
  position: relative;
  margin-bottom: 70px;
  color: $white;
  overflow: hidden;
  &:before,&:after{
    content: '';
    left: 0;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 32%;
  }
  &:before{
    left: -4%;
    margin-left: -50%;
    background: linear-gradient(to right, rgba(218,218,218,0.3) 0%, rgba(218,218,218,1) 100%);
  }
  &:after{
    left: 4%;
    margin-right: -50%;
    background: linear-gradient(to left, rgba(218,218,218,0.3) 0%, rgba(218,218,218,1) 100%);
  }
}

.white-text{
  color: $white;
}

.second-title{
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 48px;
  @media (max-width:768px) {
    font-size: 28px;
  }
}

.third-title{
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: 500;
  @media (max-width:768px) {
    font-size: 24px;
  }
}
.fourth-title{
  font-size: 24px;
  margin-bottom: 16px;
  @media (max-width:768px) {
    font-size: 20px;
  }
}

.color-text{
  color: $violet-blue2;
}

.info-text{
  color: $violet-blue2;
}

.content-text_no-indent{
  text-indent: 0;
}

.text-note{
  font-size: 12px;
  color: $light-grey;
}

.main-title{
  font-weight: 900;
  font-size: 54px;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 48px;
  @media (max-width: 824px) {
    font-size: 32px;
  }
}

.main-title_small-mb{
  margin-bottom: 24px;
}
.subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(65, 66, 82, 0.88);
  @media (max-width: 824px) {
    font-size: 20px;
  }
}
.description-text{
  font-family: $font-family-second;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 2px;
  color: $text-color;
  @media (max-width: 425px) {
    font-size: 14px;
  }
}

.alert-link{
  font-family: $font-family-base;
  color: $text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration-line: underline;
  line-height: inherit;
  &:hover{
    color: #e49d28;
  }
}