//fonts
$font-family-base: 'Montserrat',sans-serif;
$font-family-second: 'Montserrat', sans-serif;
//$font-family-base: 'Arima Madurai',sans-serif;
//$font-family-second: 'Raleway', sans-serif;
$font-family-skia: 'Skia';

$logo_text: $font-family-skia;
$logo_font_size: 20px;

//colors
$white: #FFFFFF;
$light: #F8F8F8;
$dark-grey: #393939;
$light-grey: #C4C4C4;
$blue: #3091D9;
$blue-darken: #307bc3;
$orange: #D56445;
$violet: #845EC2;
$violet-blue: #651FFF;
$violet-blue-light: #7065DD;
$violet-light: #cdafff;
$violet-lighter: #EDE7F6;
$violet-dark: #332C51;
$violet-bg: #3B335D;
$violet-blue2: #6C63FF;

$text-color: $dark-grey;
$text-color2: #2E274E;
$light-bg: #F7F5FE;
$border-light-color: #E9E6F8;
$menu-color: $light;

$btn-primary-bg: $violet-blue2;

$loading-bg: $violet-dark;

$text-color: #414252;
$grey: #F4F4F4;
$dark-bg: #222339;
$about-bg: #EBEBEB;
