<section class="about-section full-height-wrap vision-content" id="about-section">
    <div class="container">
        <div class="row">
           <div class="col-lg-3 col-md-12 d-flex flex-column justify-content-center about-nav-wrap">
               <div class="about-nav__title wow fadeInUp">About
                   @@include('./includes/components/3rdi.html')
               </div>
               <nav>
                   <ul class="nav nav-tabs about-nav wow fadeInUp" id="aboutTabs" role="tablist">
                       <li class="nav-item"><a class="nav-link active" id="vision-tab" data-toggle="tab" href="#vision-tab-pane" role="tab" aria-controls="vision" aria-selected="true">Our Vision</a></li>
                       <li class="nav-item"><a class="nav-link" id="mission-tab" data-toggle="tab" href="#mission-tab-pane" role="tab" aria-controls="mission" aria-selected="false">Our Mission</a></li>
                       <li class="nav-item"><a class="nav-link" id="hystory-tab" data-toggle="tab" href="#hystory-tab-pane" role="tab" aria-controls="hystory" aria-selected="false">Our Story</a></li>
<!--                       <li class="nav-item"><a class="nav-link" id="team-tab" data-toggle="tab" href="#team-tab-pane" role="tab" aria-controls="team" aria-selected="false">Our Team</a></li>-->
                       <li class="nav-item"><a class="nav-link" id="advisors-tab" data-toggle="tab" href="#advisors-tab-pane" role="tab" aria-controls="advisors" aria-selected="false">Our Advisors</a></li>
                       <li class="nav-item"><a class="nav-link" id="office-tab" data-toggle="tab" href="#office-tab-pane" role="tab" aria-controls="office" aria-selected="false">Our Office</a></li>
                   </ul>
               </nav>
           </div>
            <div class="col-lg-9 col-md-12 d-flex flex-column justify-content-center">
                <div class="tab-content" id="aboutTabsContent">
                    @@include('./includes/components/about/vision.html')
                    @@include('./includes/components/about/mision.html')
                    @@include('./includes/components/about/story.html')
<!--                    @@include('./includes/components/about/team.html')-->
                    @@include('./includes/components/about/advisors.html')
                    @@include('./includes/components/about/office.html')
                </div>
            </div>
        </div>
    </div>
    <img class="about-section__image wow fadeInUp" id="vision-tab-image" src="../images/about/globe.png" alt="globe">
    <img class="about-section__image" id="office-tab-image" src="../images/about/Canada.png" alt="Canada">
<!--    <img class="about-section__image" id="mission-tab-image" src="../images/about/gear.png" alt="gear">-->
</section>