<section class="advantage-section" id="advantage-section">
    <div class="container d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title wow fadeInUp">Advantage</div>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <h2 class="main-title text-center advantage-section__main-title wow fadeInUp">Be the Change</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-12 mb-xl-0 mb-5 px-4 offset-xl-2 offset-lg-0">
                <div class="flip-card advantage-item-wrap">
                    <div class="flip-card-inner advantage-item wow flipInY" data-wow-duration="1.5s">
                        <div class="flip-card-front">
                            <div class="advantage-item__title">Do A Pilot</div>
                        </div>
                        <div class="flip-card-back">
                            <div class="advantage-item__text">We will create content for immersive story telling and deliver engaging experiences to your visitors at your location</div>
                            <div class="advantage-item__text">This pilot includes a virtual experience for visitors who are unable to visit</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 mb-xl-0 mb-5 px-4">
                <div class="flip-card advantage-item-wrap">
                    <div class="flip-card-inner advantage-item wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.5s">
                        <div class="flip-card-front">
                            <div class="advantage-item__title">Send Us Feedback</div>
                        </div>
                        <div class="flip-card-back">
                            <div class="advantage-item__text">The pilot will validate the growing impact of engaging digital media for your exhibits.</div>
                            <div class="advantage-item__text">Through valuable user analytics and feedback, you will gather information on visitor’s reactions to using digital media.</div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="col-xl-4 col-lg-12 mb-xl-0 mb-5 px-4">-->
<!--                <div class="flip-card advantage-item-wrap">-->
<!--                    <div class="flip-card-inner advantage-item wow flipInY" data-wow-duration="1.5s" data-wow-delay="1s">-->
<!--                        <div class="flip-card-front">-->
<!--                            <div class="advantage-item__title">Get Grant Funding</div>-->
<!--                        </div>-->
<!--                        <div class="flip-card-back">-->
<!--                            <div class="advantage-item__text">Funding, to promote the use of digital media in art & culture, is available through government agencies.</div>-->
<!--                            <div class="advantage-item__text">You can deploy a fully commercial solution with us, using these funds. </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
