<div class="col-md-4 col-sm-6 team-card-wrap">
    <div class="team-card">
        <div class="team-card__photo-wrap">
            <img src="@@photo_src" alt="" class="team-card__photo">
        </div>
        <div class="team-card__name">@@name</div>
        <div class="team-card__role">@@role</div>
        <div class="team-card__about">@@about</div>
        <a class="text-dark team-card__email" href = "mailto: @@email">@@email</a>
    </div>
</div>
