<section class="full-height-wrap py-5 d-flex align-items-center" id="benefits-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title wow fadeInUp">Benefits</div>
            </div>
        </div>
        <div class="row">
            <div class="order-lg-1 order-2 col-xl-5 col-lg-6 offset-xl-1 offset-lg-0">
                <div class="accordion" id="benefits-accordion">
                    <div class="benefit-item">
                        <div id="engage">
                            <h2 class="main-title benefit-item__text wow fadeInLeft" data-wow-delay="0.1s" data-toggle="collapse" data-target="#collapseEngage" aria-expanded="true" aria-controls="collapseEngage">
                                Engage
                            </h2>
                        </div>
                        <div id="collapseEngage" class="collapse show" aria-labelledby="engage" data-parent="#benefits-accordion">
                            <p class="benefit-item__desc wow fadeInLeft">Attracting and retaining visitors to museums and art galleries require new engagement strategies and promotional exhibitions.</p>
                            <p class="benefit-item__desc wow fadeInLeft">With immersive storytelling, exhibitions will attract younger visitors for a more engaging experience with exhibits.</p>
                            <p class="benefit-item__desc wow fadeInLeft">Interactive games and multimedia animations are great education tools to teach the next generation about art & culture.</p>
                        </div>
                    </div>
                    <div class="benefit-item">
                        <div id="grow">
                            <h2 class="main-title benefit-item__text collapsed wow fadeInLeft" data-wow-delay="0.2s" data-toggle="collapse" data-target="#collapseGrow" aria-expanded="true" aria-controls="collapseGrow">
                                Grow
                            </h2>
                        </div>
                        <div id="collapseGrow" class="collapse" aria-labelledby="grow" data-parent="#benefits-accordion">
                            <p class="benefit-item__desc">Due to physical distancing, the institutions are challenged to find new ways to attract foot traffic.</p>
                            <p class="benefit-item__desc">Using digital media like augmented reality, enhance visitor experiences and repeatedly attract visitors to museums and art galleries.</p>
                            <p class="benefit-item__desc">The option for visitors to experience the same immersive storytelling experiences from the safety and comfort of their homes, grows our customers reach to attract virtual visitors.</p>
                        </div>
                    </div>
                    <div class="benefit-item">
                        <div id="increase">
                            <h2 class="main-title benefit-item__text wow collapsed fadeInLeft" data-toggle="collapse" data-target="#collapseIncrease" aria-expanded="true" aria-controls="collapseIncrease">
                                Increase
                            </h2>
                        </div>
                        <div id="collapseIncrease" class="collapse" aria-labelledby="increase" data-parent="#benefits-accordion">
                            <p class="benefit-item__desc mb-4">Previously, museums and art galleries have generated revenue through sales of audio narration devices to visitors.</p>
                            <p class="benefit-item__desc mb-4">@@include('./includes/components/3rdi.html')’s digital storytelling solutions, gives institutions, revenue generating opportunities by augmenting their exhibits with Audio, Video, Multimedia Animations and Games.</p>
                            <p class="benefit-item__desc">Institutions can now expand their reach to virtual visitors who are unable to visit in person. @@include('./includes/components/3rdi.html') Virtual Experiences can now generate additional revenue for museums.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-lg-2 order-1 col-xl-6 col d-flex flex-column justify-content-center align-items-center">
                <div class="benefit-image">
                    <div class="benefit-image__hidden-area">
                        <img src="../images/sculpture.png" class="benefit-image__sculpture wow fadeInUp"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>