<div class="col-lg-4 col-md-6 col-sm-12">
    <a href="@@path" class="blog-article-card">
        <div class="blog-article-card__image-wrap">
            <img src="@@image_src" alt="blog-article-image" class="blog-article-card__image">
        </div>
        <div class="blog-article-card__content">
            <div class="blog-article-card__header">
                <div class="blog-article-card__date">@@date_posted</div>
                <div class="blog-article-card__author">by @@author</div>
            </div>
            <div class="blog-article-card__body">
                <div class="blog-article-card__title @@title_class">@@title</div>
                <div class="blog-article-card__description">@@description</div>
                <button class="btn btn-outline btn-outline_dark">Read more</button>
            </div>
        </div>
    </a>
</div>