<div class="blog-article__footer">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    <div class="blog-article__date">Posted @@date_posted</div>
                </div>
                <div class="col">
                    <div class="blog-article__counts">
                        <div class="sharethis-inline-share-buttons blog-article__counts-item"></div>

                        <!--                        <div class="blog-article__counts-item">-->
<!--                            @@include('./images/like-icon.svg')-->
<!--                            <span class="blog-article__counts-text">32</span>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <div class="tags-list">-->
<!--                        <div class="tag-item">Museums</div>-->
<!--                        <div class="tag-item">Artgalleries</div>-->
<!--                        <div class="tag-item">Augmentedreality</div>-->
<!--                        <div class="tag-item">3rDi_Enabled</div>-->
<!--                        <div class="tag-item">Digital_Engagement</div>-->
<!--                        <div class="tag-item">Investinthefuture</div>-->
<!--                        <div class="tag-item">artificialintelligence</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    Category: Augmented reality-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="col-md-5 offset-md-2">
            <div class="author-section">
                <div class="author-section__title">Written by</div>
                <div class="author-section__body">
                    <div class="author-section__avatar">
                        <img src="@@avatar_src" alt="" class="author-section__avatar-image">
                    </div>
                    <div class="author-section__info">
                        <div class="author-section__name">@@author_name</div>
                        <div class="author-section__role">@@role</div>
                    </div>
                </div>
                <div class="author-section__footer">
                    Follow in
                    <div class="social-links">
                        @@if(twitter_url) {<a href="@@twitter_url" target="_blank" class="social-links__item">
                        @@include('./images/twitter-icon.svg')
                        </a>}
                        @@if(linkedin_url) {<a href="@@linkedin_url" target="_blank" class="social-links__item">
                            @@include('./images/linkedin-icon.svg')
                        </a>}
                        @@if(facebook_url) {<a href="@@facebook_url" target="_blank" class="social-links__item">
                            @@include('./images/facebook-icon.svg')
                        </a>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>