<div class="main-interface main-interface_coming">
    <div class="top-section">
        <div class="top-section__interface">
            <div class="container-fluid top-section__container">
                @@include('./includes/components/header.html')
                <!--centered-block-->
                <div class="centered-block centered-block_coming">
                    <div class="row justify-content-between align-items-center">
                        <div class="col text-center">
                            <h1 class="centered-block__title">Coming soon!</h1>
                            <div class="social-group">
                                <a href="https://www.facebook.com/3rDiLab" class="social-group__item" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com/3rDiLab" class="social-group__item" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com/3rdilab" class="social-group__item" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end centered-block-->
            </div>
        </div>
    </div>
</div>