<div class="contact-us-section">
    <div class="container d-flex flex-column justify-content-around">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center mb-md-0 mb-3">
                <span class="contact-us-section__text email">contact.us@3rdilab.com</span>
            </div>
            <div class="col-md-4 d-flex justify-content-center mb-md-0 mb-3">
                <button class="btn btn-primary contact-us-section__btn contact-btn">Contact us</button>
            </div>
            <div class="col-md-4 d-flex justify-content-center mb-md-0 mb-3">
                <span class="contact-us-section__text phone">+1 902 915.4766</span>
            </div>
        </div>
    </div>
</div>