<form action="mail2.php" method="POST" id="form-contact-modal" class="form-primary">
    <div class="form-group">
        <label class="control-label" for="name2">Name</label>
        <input id="name2" type="text" name="name2" class="form-control input-primary input-primary_dark" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="email2">Email address *</label>
        <input id="email2" required type="email" name="email2" class="form-control input-primary input-primary_dark" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="message2">Message *</label>
        <textarea id="message2" required class="form-control input-primary input-primary_dark" name="message2" placeholder="Message" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-spinner">Submit
            <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
        </button>
    </div>
    <div class="form-messages"></div>
</form>