<form action="mail.php" method="POST" id="form-contact" class="form-primary">
    <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input id="name" type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="email">Email address *</label>
        <input id="email" required type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="message">Message *</label>
        <textarea id="message" required class="form-control " name="message" placeholder="Message" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-gradient btn-spinner">Submit
            <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
        </button>
    </div>
    <div class="form-messages"></div>
</form>