
<div class="modal join-modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <h3 class="modal-title mx-auto text-center mb-4" id="contactModalLabel">Contact us!</h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @@include('./includes/components/contact-form-in-modal.html')
                        </div>
                        <div class="col-lg-6">
                            <ul class="email-list">
                                <li class="email-list__item">For organizational enquiries – contact
                                    <a class="email-list__item-email text-dark"
                                       href = "mailto: people.culture@3rdilab.com">people.culture@3rdilab.com</a>
                                </li>
                                <li class="email-list__item">For investor relations – contact
                                    <a class="email-list__item-email text-dark"
                                       href = "mailto: investor.relations@3rdilab.com">investor.relations@3rdilab.com</a>
                                </li>
                                <li class="email-list__item">For general enquiries – contact
                                    <a class="email-list__item-email text-dark"
                                       href = "mailto: general.enquiries@3rdilab.com">general.enquiries@3rdilab.com</a>
                                </li>
                                <li class="email-list__item">For solution support – contact
                                    <a class="email-list__item-email text-dark"
                                       href = "mailto: solution.support@3rdilab.com">solution.support@3rdilab.com</a>
                                </li>
                                <li class="email-list__item">For content creation – contact
                                    <a class="email-list__item-email text-dark" 
                                       href = "mailto: content.creation@3rdilab.com">content.creation@3rdilab.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
