<div class="covid-alert wow fadeInDown" data-wow-delay="2s">
    <span class="covid-alert__icon">
        @@include('./images/alert.svg')
    </span>
    <div class="container covid-alert__inner covid-alert__hidden-in-collapse">
        <button type="button" class="close covid-alert__close covid-alert__hidden-in-collapse" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-12 d-flex justify-content-center align-items-center">
                @@include('./images/alert.svg')
            </div>
            <div class="covid-alert__content col">
                <h5 class="covid-alert__title">Museums during COVID-19</h5>
                <p class="covid-alert__text">NEMO calls on stakeholders at all levels to acknowledge that digital cultural heritage and digital engagement have demonstrated its value in the past weeks by bringing people together, encouraging creativity, sharing experiences, and offering a virtual space to build ideas collectively.
                    <a target="_blank" class="alert-link" href="https://www.ne-mo.org/fileadmin/Dateien/public/NEMO_documents/Final_Findings_and_Recommendations_CVOID19_12.05.2020.pdf">Learn more</a></p>

                <p class="covid-alert__text">How Museums Can Generate Revenue Through Digital Content and Virtual Experiences.
                    <a target="_blank" class="alert-link" href="https://www.aam-us.org/2020/07/22/how-museums-can-generate-revenue-through-digital-content-and-virtual-experiences">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</div>
