<div class="download-apps">
    <a class="download-apps__button" target="_blank" href="https://apps.apple.com/ca/app/3rdi/id1490520363#?platform=iphone">
        <img src="./images/download-app/app-store.svg" alt="app-store">
    </a>
    <a class="download-apps__button" target="_blank" href="https://play.google.com/store/apps/details?id=com.vr3rdi">
        <img src="./images/download-app/google-play.svg" alt="google play">
    </a>
</div>