<section class="experience-section full-height-wrap" id="experience-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title wow fadeInUp">Experience</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <ul class="nav nav-tabs experience-nav wow fadeInUp" id="experienceTabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="ar-tab" data-toggle="tab" href="#ar-tab-pane" role="tab" aria-controls="ar" aria-selected="true">AR</a></li>
                    <li class="nav-item"><span class="nav-link experience-nav__divider">/</span></li>
                    <li class="nav-item"><a class="nav-link" id="vr-tab" data-toggle="tab" href="#vr-tab-pane" role="tab" aria-controls="vr" aria-selected="false">VR</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="tab-content experience-tab-content" id="experienceTabsContent">
                <div class="tab-pane fade show active" id="ar-tab-pane" role="tabpanel" aria-labelledby="ar-tab">
                    <div class="row">
                        <div class="col-md-5 d-flex justify-content-center align-items-center">
                            <div class="experience__svg">
                                @@include('./images/experience/ar-experience.svg')
                            </div>
                        </div>
                        <div class="col-md-7 d-flex justify-content-start align-items-center">
                            <ul class="experience-list">
                                <li class="experience-list__item">
                                    <span class="list-marker">01</span>
                                    <span>Visitors pay for immersive storytelling at the Museums they visit.</span>
                                </li>
                                <li class="experience-list__item">
                                    <span class="list-marker">02</span>
                                    <span>They can either download the @@include('./includes/components/3rdi.html') App on their smart phones/ Tablets or use our Progressive Web Based App (PWA).</span>
                                </li>
                                <li class="experience-list__item">
                                    <span class="list-marker">03</span>
                                    <span>They get a code to activate the Smart Phone App or PWA.</span>
                                </li>
                                <li class="experience-list__item">
                                    <span class="list-marker">04</span>
                                    <span>Augmented Exhibits in the gallery are tagged for visitor convenience.</span>
                                </li>
                                <li class="experience-list__item">
                                    <span class="list-marker">05</span>
                                    <span>Visitors view tagged exhibits through their smart phone cameras.</span>
                                </li>
                                <li class="experience-list__item">
                                    <span class="list-marker">06</span>
                                    <span>They experience immersive story telling using @@include('./includes/components/3rdi.html')’s AR digital media like  like Audio, Video, 3D Models, Image, Text, Multimedia Animations or Gamification.</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 text-center">
                            <a href="/gallery.html" class="btn btn-primary ml-auto">Gallery Experience</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="vr-tab-pane" role="tabpanel" aria-labelledby="vr-tab">
                    <div class="row">
                        <div class="col-md-7 order-md-1 order-2 d-flex justify-content-start align-items-center">
                            <ul class="experience-list">
                                <li class="experience-list__item">
                                    <span class="list-marker">01</span>
                                    <span>Visitors use @@include('./includes/components/3rdi.html') App from any location with Wi-Fi.</span></li>
                                <li class="experience-list__item">
                                    <span class="list-marker">02</span>
                                    <span>Visitors can switch to VR mode using @@include('./includes/components/3rdi.html') App’s VR Tab.</span></li>
                                <li class="experience-list__item">
                                    <span class="list-marker">03</span>
                                    <span>Visitor gets a list of @@include('./includes/components/3rdi.html') enabled immersive story telling experiences around the world.</span></li>
                                <li class="experience-list__item">
                                    <span class="list-marker">04</span>
                                    <span>They can choose any museum or art gallery experience.</span></li>
                                <li class="experience-list__item">
                                    <span class="list-marker">05</span>
                                    <span>They can purchase the experience which has a set validity.</span></li>
                                <li class="experience-list__item">
                                    <span class="list-marker">06</span>
                                    <span>They set their smartphone into a MobileVR Headset.</span></li>
                                <li class="experience-list__item">
                                    <span class="list-marker">07</span>
                                    <span>They experience virtual immersive story telling, with exhibits augmented using @@include('./includes/components/3rdi.html') digital media.</span></li>
                            </ul>
                        </div>
                        <div class="col-md-5 order-md-2 order-1 d-flex justify-content-center align-items-center">
                            <div class="experience__svg">
                                @@include('./images/experience/vr-experience.svg')
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a href="/webvrgallery.html" class="btn btn-primary ml-auto">Web VR Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
