<div class="card faqs__item">
    <div class="card-header" id="faqsHeading@@id@@category">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse@@id@@category" aria-expanded="true" aria-controls="collapse@@id@@category">
            <span class="faqs__item-question">@@question</span>
        </button>
    </div>

    <div id="collapse@@id@@category" class="collapse @@show" aria-labelledby="faqsHeading@@id@@category" data-parent="#@@category">
        <div class="card-body faqs__item-answer">
            @@answer
        </div>
    </div>
</div>
