
<div class="modal feedback-modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header__text">
                    <h3 class="modal-title mx-auto text-center mb-2" id="feedbackModalLabel">Leave feedback</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="show-instructions">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="mail-feedback.php" enctype="multipart/form-data" method="POST" id="form-feedback" class="form-primary">
                    <div class="form-group">
                        <label for="email-feedback">Email address *</label>
                        <input id="email-feedback" required type="email" name="email-feedback" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name-feedback">Name</label>
                        <input id="name-feedback" type="text" name="name-feedback" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="feedback-message">Message</label>
                        <textarea id="feedback-message" required class="form-control" name="feedback-message" placeholder="Message" rows="3"></textarea>

                    </div>
                    <div class="custom-file mb-4">
                        <input type="file" class="custom-file-input" id="feedback-file" name="feedback-file">
                        <label class="custom-file-label" for="feedback-file">Choose your file</label>
                    </div>
                    <div class="file-list"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-spinner">Apply
                            <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="form-messages"></div>
                </form>
            </div>
        </div>
    </div>
</div>
