<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <nav class="navbar footer__navbar">
                <div class="col-md-3 mb-sm-0 mb-5">
                    <a class="navbar-brand footer__navbar-brand" href="/">
                        <img class="navbar__logo" src="./images/old2.38.3.svg">
<!--                        <span class="brand-text">3-->
<!--                            <span class="brand-text_superscript">rD</span>-->
<!--                            <span class="brand-text_accent">i</span>-->
<!--                        </span>-->
                    </a>
<!--                    <span class="footer__adres">Top Floor, 24 University Ave <br> Wolfville, NS, B4P 2R6, Canada</span>-->
<!--                    <span class="footer__adres">120 Sonnenschein Way, <br>Saskatoon, SK S7M 0W2, Canada</span>-->
                    <span class="footer__emall">contact.us@3rdilab.com</span>
<!--                    <span class="footer__number">+1 902 915.4766</span>-->
                    <div class="social-group footer__social-group">
                        <a href="https://www.facebook.com/3rDiLab" class="social-group__item" target="_blank">
                            <i class="fab fa-facebook-f footer__social-icon"></i>
                        </a>
                        <a href="https://twitter.com/3rDiLab" class="social-group__item" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/3rDi_Lab" class="social-group__item" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="navbar-nav footer__navbar-nav">
                        <li class="nav-item"><a target="_blank" class="nav-link footer__nav-link" href="https://canadacouncil.ca/funding/strategic-funds/digital-strategy-fund">Canada Council of the Arts</a></li>
                        <li class="nav-item"><a target="_blank" class="nav-link footer__nav-link" href="https://www.museums.ca/">CMA</a></li>
                        <li class="nav-item"><a target="_blank" class="nav-link footer__nav-link" href="../we-are-hiring.html">We're hiring!</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-sm-0 mb-5">
                    <ul class="navbar-nav footer__navbar-nav">
                        <li class="nav-item"><a target="_blank" class="nav-link footer__nav-link" href="https://www.aam-us.org/2020/07/22/how-museums-can-generate-revenue-through-digital-content-and-virtual-experiences/">AAMA</a></li>
                        <li class="nav-item"><a target="_blank" class="nav-link footer__nav-link" href="https://www.ne-mo.org/news/article/nemo/now-online-nemo-webinar-on-digital-and-immersive-technologies.html?tx_news_pi1%5Bcontroller%5D=News&amp;tx_news_pi1%5Baction%5D=detail&amp;cHash=67360c4057fdbd3b77ec65a3f5f3a234">NEMO</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2 class="form__title">Subscribe to updates</h2>
                    <form id="form-subscribe" action="https://gmail.us3.list-manage.com/subscribe/post" method="POST" class="form__footer">
                        <input type="hidden" name="u" value="4a95c24cf9c2b8825dbd1fa3c">
                        <input type="hidden" name="id" value="37d7575cac">
                        <input id="MERGE0" type="email" name="MERGE0" class="form-control input-primary form__footer-imput"
                               placeholder="Email">
                        <button type="submit" class="btn btn-primary btn-primary_white">Submit</button>
                    </form>
                </div>
            </nav>
        </div>

    </div>
</div>
<!--end footer-->