<!--navbar-->
<nav class="navbar header-navbar navbar-expand-lg mobile-main-nav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="navbar__logo" src="./images/old2.38.1.svg">
            <img class="brand-text" src="./images/old2.38.2.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse navbar-menu" id="navbarSupportedContent">
            <nav class="w-100">
                <ul class="navbar-nav w-100">
                    <li class="nav-item"><a class="nav-link" href="/#experience-section" id="experience-anchor"> Experience</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#benefits-section" id="benefits-anchor"> Benefits</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#partnership-section" id="partnership-anchor"> Partnership</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#advantage-section" id="advantage-anchor"> Advantage</a></li>
                    <li class="nav-item nav-item-about">
                        <a class="nav-link" href="/#about-section" id="about-anchor">About
                            @@include('./includes/components/3rdi.html')
                        </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>
<!--end navbar-->