
<div class="modal join-modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <h3 class="modal-title mx-auto text-center mb-2" id="joinModalLabel">Join us!</h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p class="content-text content-text_bold">A  Little Bit About Us</p>
                            <div class="content-text">3rdi Lab is in the exciting world of content creation solutions for augmented reality. Although we are a start up, we weren’t just born yesterday, We’ve been around since 2017. We can see far and we have a vision to bring the world to people. We use our own proprietary AI technology platform to create augmented reality and augmented virtual reality. Our best friends are in the travel and tourism market including but not limited to museums, art galleries, public buildings, universities, cityscapes etc. There are 8 of us full-time and growing. We use all the cool technologies like  machine learning and computer vision algorithms to create an amazing new world of augmented reality and augmented virtual experiences for our customers. Headquartered in Canada with offices in Saskatoon, SK and Wolfville, NS we have team members in Russia, Ukraine and India as well.</div>
                            <div class="accordion-in-modal mb-3" id="accordion-in-modal">
                                <div class="card">
                                    <button class="btn modal-subtitle card-title-modal px-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="card-header text-left" id="headingOne">
                                          <span class="mb-0">
                                            Chief Technology Officer (CTO)
                                          </span>
                                        </span>
                                    </button>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-in-modal">
                                        <div class="card-body">
                                            <div class="content-text content-text_bold">A Day in The Life</div>
                                            <div class="content-text font-italic mb-2">We’re looking for someone who is an entrepreneur at heart to be the Nelson Mandela of our technology department. Although we are a tech company, you know stuff we don’t.. Amongst other things, you’ll build and lead a team of others like you. You’re a team captain! Other daily duties include, but are not limited to:</div>
                                            <ul class="content-text">
                                                <li class="mb-1">Telling <span class="font-weight-bold">US</span> what to do</li>
                                                <li class="mb-1">Establish the company’s tech strategy by using your own experiences but also thinking up new ones because you’re awesome</li>
                                                <li class="mb-1">Pretty much get to be on your devices all day exploring our industry, monitoring our app and coming up with all kinds of cool new inventions.</li>
                                            </ul>

                                            <div class="content-text font-italic mb-2">A Little Bit About You</div>
                                            <ul class="content-text">
                                                <li class="mb-1">You are not shy and can clearly articulate your thoughts to anyone, both inside and outside of the organization.</li>
                                                <li class="mb-1">Your leadership skills are second best only to  Mahatma Gandhi's</li>
                                                <li class="mb-1">You are a dreamer, thinker and doer! Innovation and strategic thinking are at the heart of all of your work</li>
                                                <li class="mb-1">You’re BFF’s with your scheduler</li>
                                                <li class="mb-1">Our clients are not just dollar signs to you. you actually care about them and their success</li>
                                                <li class="mb-1">Running around and exploring the tech industry is a hobby of yours</li>
                                                <li class="mb-1">You have a ton of experience in project management because it’s like soooooooo much fun</li>
                                                <li class="mb-1">You cruised through your undergrad degree in CS, so much so, you were inspired to get a grad one to put on the wall next to it.</li>
                                                <li class="mb-1">You have worked in a start-up chaos previously, not only enjoyed it but successfully tamed the beast.</li>
                                                <li class="mb-1">You’ve been to this rodeo for at least 8 years, 5 of them as the point person.</li>
                                                <li class="mb-1">Your family or friends can tolerate you enough to let you work from home when you want to.</li>
                                                <li class="mb-1">Your bag of goodies include ibut is not limited to React Native, ARCore, ARKit, Laravel Framework, PHP, Python, iOS, Android, Microsoft,  AI and Computer Vision technologies and others we haven’t even heard of yet!</li>
                                            </ul>
                                            <div class="content-text font-italic mb-2">Why You Want To Work For Us</div>
                                            <div class="content-text">We’re awesome…at least we like to think that!
                                                You would be coming into a collaborative workspace that would allow you to gain valuable experience in the field you are passionate about.
                                                We work hard and play harder! Woop Woop…raise the roof!</div>
                                            <div class="content-text font-italic mb-2">How To Apply</div>
                                            <div class="content-text">Since we are so awesome, we know we will get so many resumes, we won’t know what to do with them. So, please don’t take it personally if we don’t call you, cause we can only call a few of you.</div>
                                            <div class="content-text">Knowing what you know now, if you still want to be the big fish in this small pond, go ahead impress us with your cover letter and resume by email to people.culture@3rdilab.com</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <button class="btn modal-subtitle card-title-modal px-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="card-header text-left" id="headingTwo">
                                          <span class="mb-0">
                                             Chief Business Development Officer (CBDO)
                                          </span>
                                        </span>
                                    </button>

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-in-modal">
                                        <div class="card-body">
                                            <p class="content-text content-text_bold">A  Little Bit About Us</p>
                                            <div class="content-text">3rdi Lab is in the exciting world of content creation solutions for augmented reality. Although we are a start up, we weren’t just born yesterday, We’ve been around since 2017. We can see far and we have a vision to bring the world to people. We use our own proprietary AI technology platform to create augmented reality and augmented virtual reality. Our best friends are in the travel and tourism market including but not limited to museums, art galleries, public buildings, universities, cityscapes etc. There are 8 of us full-time and growing. We use all the cool technologies like  machine learning and computer vision algorithms to create an amazing new world of augmented reality and augmented virtual experiences for our customers. Headquartered in Canada with offices in Saskatoon, SK and Wolfville, NS we have team members in Russia, Ukraine and India as well.</div>
                                            <div class="content-text content-text_bold">What You’ll Be Doing</div>
                                            <div class="content-text font-italic mb-2">We’re looking for someone who is an entrepreneur at heart to be the Malcom X of our Business Development department. Although we are a tech company, you know stuff we don’t. Amongst other things, you’ll build and lead a team of others like you. You’re a team captain! Other daily duties include, but are not limited to:</div>
                                            <ul class="content-text">
                                                <li class="mb-1">Define the company’s market strategies…Oxford Dictionary style</li>
                                                <li class="mb-1">Become BFF’s with current and prospective clients</li>
                                                <li class="mb-1">Understand and react to market needs and customer requirements</li>
                                                <li class="mb-1">Sales baby, getting sales!</li>
                                                <li class="mb-1">Multitasking as an engineer by building and maintaining bridges between the market and our product</li>
                                                <li class="mb-1">Go on “work trips” to sales events</li>
                                                <li class="mb-1">Channel your inner Bob Ross and create some super cool advertisements…happy trees are a must</li>
                                            </ul>

                                            <div class="content-text content-text_bold mb-2">A Little Bit About You</div>
                                            <ul class="content-text">
                                                <li class="mb-1">You are not shy and can clearly articulate your thoughts to anyone, both inside and outside of the organization.</li>
                                                <li class="mb-1">Your leadership skills are second best only to  Mahatma Gandhi's</li>
                                                <li class="mb-1">You are a dreamer, thinker and doer! Innovation and strategic thinking are at the heart of all of your work</li>
                                                <li class="mb-1">You’re BFF’s with your scheduler</li>
                                                <li class="mb-1">Our clients are not just dollar signs to you. You actually care about them and their success</li>
                                                <li class="mb-1">You’re at competition with yourself</li>
                                                <li class="mb-1">You love looking at your Business undergraduate degree mounted on your wall</li>
                                                <li class="mb-1">You actually love it so much you got a shiny Masters in Business to match :’)</li>
                                                <li class="mb-1">You have worked in a start-up chaos previously, not only enjoyed it but successfully tamed the beast</li>
                                                <li class="mb-1">We would looooove if you had some experience with CRM tools because we have no idea how to use them</li>
                                                <li class="mb-1">You spend your weekends at museums and art galleries…you nerd!</li>
                                                <li class="mb-1">5-8 years living the dream in enterprise sales</li>
                                                <li class="mb-1">5+ years leading an army of homies</li>
                                            </ul>

                                            <div class="content-text font-italic mb-2">Why You Want To Work For Us</div>
                                            <div class="content-text">We’re awesome…at least we like to think that!
                                                You would be coming into a collaborative workspace that would allow you to gain valuable experience in the field you are passionate about.
                                                We work hard and play harder! Woop Woop…raise the roof!</div>
                                            <div class="content-text font-italic mb-2">How To Apply</div>
                                            <div class="content-text">Since we are so awesome, we know we will get so many resumes, we won’t know what to do with them. So, please don’t take it personally if we don’t call you, cause we can only call a few of you.</div>
                                            <div class="content-text">Knowing what you know now, if you still want to be the big fish in this small pond, go ahead impress us with your cover letter and resume by email to people.culture@3rdilab.com</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-text">3rdi is committed to fostering an inclusive, accessible work environment, where all employees feel valued, respected and supported. 3rdi will consider international candidates as well as Canadian Candidates. The company will process a work permit through the Global Talent Stream for the right Candidate.</div>
                            <a class="btn btn-primary btn-gradient"
                               href="mailto: people.culture@3rdilab.com">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
