<section class="full-height-wrap partnership-section" id="partnership-section">
    <div class="container d-flex flex-column justify-content-around">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title wow fadeInUp">Partnership</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 partnership-item-wrap">
                <div class="partnership-item wow fadeInUp">
                    <div class="partnership-item__icon">
                        @@include('./images/partnership/team.svg')
                    </div>
                    <div class="partnership-item__title">Your extension</div>
                    <div class="partnership-item__text mb-2">
                        We know there is pressure to deliver more with less and, sooner rather than later.
                        To succeed together as one team, we create and deliver <br>immersive storytelling <br>experiences for you.
                    </div>
                    <div class="collapse" id="extension">
                        <div class="partnership-item__text">
                            From concept to user experience <br>using our digital <br> platform.
                        </div>
                    </div>
                    <a class="btn-link read-more collapsed" data-toggle="collapse" href="#extension" role="button" aria-expanded="false" aria-controls="extension"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 partnership-item-wrap">
                <div class="partnership-item wow fadeInUp">
                    <div class="partnership-item__icon">
                        @@include('./images/partnership/creative-direction.svg')
                    </div>
                    <div class="partnership-item__title">Your direction</div>
                    <div class="partnership-item__text mb-2">
                        We gather all the critical information about exhibits, resources and available digital media through a pre-consultation with your team.
                        We convert the curated information into immersive digital overlays.
                    </div>
                    <div class="collapse" id="direction">
                        <div class="partnership-item__text">
                            We bring it all together and publish engaging storytelling experiences for your visitors.
                        </div>
                    </div>
                    <a class="btn-link read-more collapsed" data-toggle="collapse" href="#direction" role="button" aria-expanded="false" aria-controls="direction"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 partnership-item-wrap">
                <div class="partnership-item wow fadeInUp">
                    <div class="partnership-item__icon">
                        @@include('./images/partnership/pretected-assist.svg')
                    </div>
                    <div class="partnership-item__title">Your exhibition</div>
                    <div class="partnership-item__text mb-2">
                        Every exhibit is enhanced with multiple digital overlays, from audio narration to gamification.
                        We provide guidance and recommend appropriate choice of digital overlays from our user knowledge.
                    </div>
                    <div class="collapse" id="recommendations">
                        <div class="partnership-item__text">
                            Change the digital overlay for any exhibit anytime, without disrupting your visitor’s experience.
                        </div>
                    </div>
                    <a class="btn-link read-more collapsed" data-toggle="collapse" href="#recommendations" role="button" aria-expanded="false" aria-controls="recommendations"></a>
                </div>
            </div>
        </div>
    </div>
</section>