<div class="col-lg-3 col-md-6 d-flex justify-content-center align-items-start plan-item__wrap">
    <div class="plan-item">
        <div class="plan-item__header">
            @@include('@@illustration_src')
        </div>
        <div class="plan-item__body">
            <div class="plan-item__name">@@name</div>
<!--            <div class="plan-item__description">@@description</div>-->
            <ul class="plan-item__benefits">
                @@if(benefit_1) {<li class="plan-item__benefits-item">@@benefit_1</li>}
                @@if(benefit_2) {<li class="plan-item__benefits-item">@@benefit_2</li>}
                @@if(benefit_3) {<li class="plan-item__benefits-item">@@benefit_3</li>}
                @@if(benefit_4) {<li class="plan-item__benefits-item">@@benefit_4</li>}
                @@if(benefit_5) {<li class="plan-item__benefits-item">@@benefit_5</li>}
                @@if(benefit_6) {<li class="plan-item__benefits-item">@@benefit_6</li>}
                @@if(benefit_7) {<li class="plan-item__benefits-item">@@benefit_7</li>}
                @@if(benefit_8) {<li class="plan-item__benefits-item">@@benefit_8</li>}
                @@if(benefit_9) {<li class="plan-item__benefits-item">@@benefit_9</li>}
            </ul>
        </div>
<!--        <div class="plan-item__footer @@footer_padding">-->
        <div class="plan-item__footer">
<!--            <div class="plan-item__wave @@wave_class">-->
<!--                @@include('@@wave_src')-->
<!--            </div>-->
            <div class="plan-item__price mb-0">
                <div class="plan-item__price-value">@@price</div>
                <div class="plan-item__price-period">@@per</div>
            </div>
<!--            <div class="btn btn-primary">Select</div>-->
            @@action
<!--            <div class="text-note mt-4">* prices do not include cost of creation for 3DModels and Animation.</div>-->
        </div>
    </div>
</div>