<div class="related-articles">
    <h2 class="second-title text-center">Related posts</h2>
    <div class="row">
        @@include('./includes/components/blog-article-card.html', {
        "id": 1,
        "image_src": "./images/blog-article-image-2.png",
        "date": "6 day ago",
        "author": "Jane Cooper",
        "title": "Is Augmented Reality The Key to Cultural Institutions’ Survival?",
        "description": "Cultural institutions are barometers of social and cultural change. They often find themselves in a dynamically shifting realm where time-honored methods are outdated and ineffective. To survive and thrive, cultural institutions must adapt to meet the needs of their audience and compete with the audiences’ other numerous leisure time, while not losing sight of their missions. And the answer is through technology.",
        "title_class": "blog-article-card__title_long"
        })
        @@include('./includes/components/blog-article-card.html', {
        "id": 1,
        "image_src": "./images/blog-article-image-2.png",
        "date": "6 day ago",
        "author": "Jane Cooper",
        "title": "Is Augmented Reality The Key to Cultural Institutions’ Survival?",
        "description": "Cultural institutions are barometers of social and cultural change. They often find themselves in a dynamically shifting realm where time-honored methods are outdated and ineffective. To survive and thrive, cultural institutions must adapt to meet the needs of their audience and compete with the audiences’ other numerous leisure time, while not losing sight of their missions. And the answer is through technology.",
        "title_class": "blog-article-card__title_long"
        })
        @@include('./includes/components/blog-article-card.html', {
        "id": 1,
        "image_src": "./images/blog-article-image-2.png",
        "date": "6 day ago",
        "author": "Jane Cooper",
        "title": "Is Augmented Reality The Key to Cultural Institutions’ Survival?",
        "description": "Cultural institutions are barometers of social and cultural change. They often find themselves in a dynamically shifting realm where time-honored methods are outdated and ineffective. To survive and thrive, cultural institutions must adapt to meet the needs of their audience and compete with the audiences’ other numerous leisure time, while not losing sight of their missions. And the answer is through technology.",
        "title_class": "blog-article-card__title_long"
        })
    </div>

</div>