<div class="tab-pane @@active" id="@@id_tab" role="tabpanel" aria-labelledby="@@id_tab_tab">
    <div class="embed-responsive embed-responsive-16by9 mb-5">
        <iframe class="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/@@video_id?enablejsapi=1&&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>