
<li class="nav-item col-md-4 col-sm-6 col-12">
    <a class="nav-link tutorial-card__nav-link" id="@@id_tab_tab" data-toggle="tab" href="#@@id_tab" role="tab" aria-controls="@@id_tab" aria-selected="true">
        <div class="card bg-dark text-white tutorial-card mx-auto">
            <img class="card-img" src="./images/@@preview_src" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">@@name</h5>
                <p class="card-text">@@description</p>
            </div>
            <div class="tutorial-card__category">Category: @@category</div>
            <button class="btn btn-play">
                <img src="./images/play-button-icon.png" alt="play-button-icon">
            </button>
        </div>
    </a>
</li>