<div class="modal unmute-modal fade" id="unmuteModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="unmuteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5 class="modal-title">We need your confirmation to enable audio on the website</h5>
                <button type="button" class="btn btn-primary" id="btn-unmute">Ok</button>
            </div>
        </div>
    </div>
</div>
