
<div class="modal join-modal fade" id="ARVideoModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content_dark">
            <div class="container-fluid">
                <div class="modal-header">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs modal-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="first-step-tab" data-toggle="tab" href="#first-step" role="tab" aria-controls="first-step" aria-selected="true">Step 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="second-step-tab" data-toggle="tab" href="#second-step" role="tab" aria-controls="second-step" aria-selected="false">Step 2</a>
                        </li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-5">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="first-step" role="tabpanel" aria-labelledby="first-step-tab">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/7ZlIlzpzn7A?enablejsapi=1&&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            </div>
                        </div>
                        <div class="tab-pane" id="second-step" role="tabpanel" aria-labelledby="second-step-tab">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/iE4Bgwyj79U?enablejsapi=1&&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
